.clear-all a{
  text-decoration: none;
  color: #000;
  letter-spacing: 1px
}

.filter-wrapper .total-number {
	font-size: 0.95em !Important;
	color: #b3b3b3;
}


@media screen and (min-width: 992px) {
  .main-site-body-content .padding-upper-than-992 {
    padding: 0 6px 0 6px !Important;
  }
}


section ul li.title img, section ul li.active img{
    
   -moz-animation: navFadeIn 1s ease;
   -webkit-animation: navFadeIn 1s ease;
   -o-animation: navFadeIn 1s ease;
   -ms-animation: navFadeIn 1s ease;
    animation: navFadeIn 1s ease;

}

@keyframes navFadeIn {
  	from {
  		display: none; 
  		margin-right: 0;
  		opacity: 0;
  	}
	to {
		display: block; 
		margin-right: 20px;
		opacity: 1;
	}
}

section h2 img, section h2.active img{
    
   -moz-animation: navFadeIn 1s ease;
   -webkit-animation: navFadeIn 1s ease;
   -o-animation: navFadeIn 1s ease;
   -ms-animation: navFadeIn 1s ease;
    animation: navFadeIn 1s ease;

}
