@font-face {
  font-family: "azoLight";
  src: url("../fonts/AzoSans-Light-webfont.eot?") format("eot"), url("../fonts/AzoSans-Light-webfont.woff") format("woff"), url("../fonts/AzoSans-Light-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Light-webfont.svg#Samplino") format("svg");
}
@font-face {
  font-family: "azoMedium";
  src: url("../fonts/AzoSans-Medium-webfont.eot?") format("eot"), url("../fonts/AzoSans-Medium-webfont.woff") format("woff"), url("../fonts/AzoSans-Medium-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Medium-webfont.svg#Samplino") format("svg");
}
@font-face {
  font-family: "azoRegular";
  src: url("../fonts/AzoSans-Regular-webfont.eot?") format("eot"), url("../fonts/AzoSans-Regular-webfont.woff") format("woff"), url("../fonts/AzoSans-Regular-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Regular-webfont.svg#Samplino") format("svg");
}
@font-face {
  font-family: "azoThin";
  src: url("../fonts/AzoSans-Thin-webfont.eot?") format("eot"), url("../fonts/AzoSans-Thin-webfont.woff") format("woff"), url("../fonts/AzoSans-Thin-webfont.ttf") format("truetype"), url("../fonts/AzoSans-Thin-webfont.svg#Samplino") format("svg");
}
