﻿.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.33;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.modal-footer:after {
  clear: both;
}
.nav-header-chevron,
.nav-collection-spread-book,
.nav-header i,
.nav-collection-spread-link i,
.nav-collection-link i {
  background-size: 364px 328px;
  display: inline-block;
  vertical-align: top;
  height: 26px;
  width: 28px;
  background-image: url('/images/mobile/sprites.png');
}
.nav-collection-spread-book {
  background-position: -183px -284px;
  width: 26px;
  height: 30px;
}
.nav-header i,
.nav-collection-spread-link i,
.nav-collection-link i {
  background-position: -39px -4px;
  height: 22px;
  width: 13px;
}
body {
  min-width: 300px;
  position: relative;
  /* Set for dept-menu-wrapper absolute positioning */
}
body.appMode #nav-headers,
body.appMode footer,
body.appMode #navigationheader {
  display: none;
}
#nav-headers {
  z-index: 10030;
  width: 100%;
  position: fixed;
  top: 0;
}
#nav-headers-spacer {
  width: 100%;
  /*div:first-child {
        background: #000; height: @navheader-height;
    }

    div:last-child {
        background: #222; height: @navdepartments-height;
    }*/
}
#nav-headers-bg {
  position: absolute;
  top: 0;
  /*background: #000;*/
  width: 100%;
  /*height: @navheader-height + @navdepartments-height;*/
}
#navigationheader {
  width: 100%;
  top: 0;
  height: 44px;
  background-color: #000;
  overflow: hidden;
  position: relative;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#navigationdepts {
  height: 44px;
  background-color: #222;
  color: #E3E7EA;
  overflow: hidden;
  /* Hide ul's bottom padding so scrollbar not visible */
  position: relative;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navigationdepts-shade-left {
  position: absolute;
  top: 44px;
  height: 44px;
  left: 0;
  width: 8px;
  z-index: 10;
  background: linear-gradient(to right, #222222, rgba(34, 34, 34, 0) 100%);
}
.navigationdepts-shade-right {
  position: absolute;
  top: 44px;
  height: 44px;
  right: 0;
  width: 8px;
  z-index: 10;
  background: linear-gradient(to left, #222222, rgba(34, 34, 34, 0) 100%);
}
#navigationdepts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  /* Add padding so that scroll bar is shifted down - dont want to be visible */
  min-height: 44px;
  overflow: auto;
  /* Allow scrolling */
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 0;
  /* To remove inline element spacing */
}
#navigationdepts ul li {
  display: inline-block;
  text-transform: uppercase;
  height: 44px;
}
#navigationdepts ul li a {
  display: inline-block;
  margin: 12px 10px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
#navigationdepts ul li a span.underline {
  display: none;
  background-color: #909090;
  height: 1px;
  position: absolute;
  bottom: -3px;
  width: 100%;
}
#navigationdepts ul li.is-active-dept a {
  font-weight: 500;
}
#navigationdepts ul li.is-active-dept a span.underline {
  display: block;
}
#navigationdepts ul li.is-active-dept.menu-open a span.underline {
  display: none;
}
#navigationdepts ul li.menu-open {
  background: #fff;
}
#navigationdepts ul li.menu-open > a {
  font-weight: 700;
  color: #000 !important;
}
#dept-menu-bg {
  cursor: pointer;
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  background: #000;
  z-index: 10040;
  opacity: 0.7;
}
#dept-menu-wrapper {
  position: absolute;
  top: 88px;
  /* Set dynamically */
  left: 0;
  right: 32px;
  z-index: 10050;
  background: #fff;
}
#dept-menu-wrapper .dept-menu-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  font-size: 0;
  padding: 8px 0 22px 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  opacity: 1;
  margin: 0;
}
#dept-menu-wrapper .dept-menu-content .error-msg {
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
}
#dept-menu-wrapper .dept-menu-content .dept-menu-content-loading {
  width: 38px;
  height: 38px;
  margin-top: -19px;
  margin-left: -19px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#dept-menu-wrapper .dept-menu-content a {
  text-decoration: none;
}
#dept-menu-wrapper .dept-menu-content a:focus,
#dept-menu-wrapper .dept-menu-content a:active {
  text-decoration: underline;
}
#dept-menu-wrapper .shade-top {
  position: absolute;
  top: 0;
  height: 15px;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0) 100%);
}
#dept-menu-wrapper .shade-bottom {
  position: absolute;
  bottom: 0;
  height: 15px;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0) 100%);
}
#dept-menu-wrapper.view-right {
  left: 32px;
  right: 0;
}
@media (min-width: 440px) {
  #dept-menu-wrapper {
    right: 58px;
  }
  #dept-menu-wrapper.view-right {
    left: 58px;
  }
}
@media (min-width: 500px) {
  #dept-menu-wrapper {
    right: 80px;
  }
  #dept-menu-wrapper.view-right {
    left: 80px;
  }
}
.nav-group {
  overflow: hidden;
  border-style: solid;
  border-color: #D6D6D6;
  border-width: 0 0 1px 0;
}
.nav-sep,
.nav-header,
.nav-link,
.nav-collection-link {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 0;
  position: relative;
}
.nav-collection-link {
  border-style: solid;
  border-color: #D6D6D6;
  border-width: 0;
}
.nav-collection-spread-link {
  position: absolute;
  float: left;
  display: inline-block;
  width: 100%;
  margin: 0;
}
#collection-spread-container {
  background-color: #F7F7F7;
  height: auto;
}
.nav-header {
  background-color: #F0F0F0;
  border-style: solid;
  border-color: #D6D6D6;
  border-width: 0 1px 1px 1px;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.nav-sep hr {
  margin: 11px 0 10px 0;
  /* Take off the 1px line for equal spacing*/
  border-color: #D9D9D9;
}
.nav-header b,
.nav-link a,
.nav-collection-link a,
.nav-collection-spread-link a {
  display: inline-block;
  font-size: 14px;
  /* Top and bottom margins+paddings should equal 22 such that the char height (roughly 20px) + this equals around 44px */
  margin: 6px 0 6px 16px;
  padding: 5px 0;
}
.nav-header-chevron,
.nav-header i,
.nav-collection-spread-link i,
.nav-collection-link i {
  background-position: -32px 0;
}
.nav-header i {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 24px;
  height: 24px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.nav-header.expanded i {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.nav-header.expanded {
  border: 0 1px 1px 1px solid #D6D6D6;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.nav-link a,
.nav-collection-link a,
.nav-collection-spread-link a {
  /* Increase width for larger hit areas */
  width: 100%;
}
.nav-collection-link a,
.nav-collection-spread-link a {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2px;
}
.nav-collection-spread-link i,
.nav-collection-link i {
  display: block;
  position: absolute;
  top: 14.5px;
  right: 20px;
  width: 24px;
  height: 24px;
}
/*.nav-collection-link i {
    top:8px;
}

.nav-collection-spread-img {
    height: auto;
    width: 100%;
    display:inline-block;
    float:left;
    padding:16px;
 
}*/
.nav-collection-spread-link a {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.nav-collection-spread-book {
  position: relative;
  top: -10px;
  left: 10px;
}
#jumpTo {
  text-transform: none;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
}
.nav-collection-group {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  min-width: 190px;
}
/*#nav-collection-container {
    width:100%;
    padding-top:10px;
    padding-left:16px;
    border: 0;
}

#nav-collection-container i {
    top:10px;
}*/
@media (min-width: 414px) {
  .nav-link.allow-two-cols {
    width: 50%;
    padding-left: 0;
    padding-right: 16px;
  }
}
/*@media(min-width: 578px) {
    #nav-collection-container {
        width:50%;
        position:absolute;
        padding:0;
        top:calc(~"(100% - 45px)/2");
    }
    .nav-collection-spread-img {
        height: auto;
        width: 50%;
        max-width:none;
    }

    div.div-Container.img-not-loaded.nx-spinner-dark{
        height:32px;
        width:32px;
        margin:20% 22.5% 20% 22.5%;  
}
}*/
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.nav-header-left {
  text-align: left;
  height: 44px;
}
.nav-header-center {
  text-align: left;
  height: 44px;
}
.nav-header-right {
  text-align: right;
  height: 44px;
}
.nav-header-left,
.nav-header-center,
.nav-header-right {
  font-size: 0;
  /* Fix inline spacing */
}
.nav-header-left a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
.nav-header-left a:first-of-type {
  margin: 0 0 0 11px;
}
.nav-header-center a {
  display: inline-block;
  vertical-align: middle;
}
.nav-header-right a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 22px 0 0;
}
.nav-header-right a:last-of-type {
  margin: 0 11px 0 0;
}
.valign-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#header-bag-icon {
  position: relative;
}
#header-bag-item-count {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 23px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
/* Required for _Layout_mobile_secure.cshtml */
#subheader {
  padding-top: 0.3em;
  padding-bottom: 0.25em;
  text-align: center;
  line-height: 32px;
  /*position:fixed;*/
  background-color: #fff;
  /*z-index:1;*/
  width: 100%;
  border-bottom: 0.4rem solid #f5f5f5;
}
/* Required for _Layout_mobile_secure.cshtml */
#back-button {
  position: absolute;
  width: 2.75em;
  border-right: 1px solid #f5f5f5;
}
/* Required for _Layout_mobile_secure.cshtml */
#page-title {
  margin: 0;
  font-family: "Azo Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* change 4-29-2017 */
main {
  padding: 4rem 0.5rem 0.5;
}
#mainBody {
  /* min-height is set dynamically by layout-header.ts, but we set high initially to push footer below the page fold and
       prevent flickering whilst we calculate the correct value. */
  min-height: 700px;
}
.top-action {
  background: #000000;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 54px;
  width: 54px;
  outline: none;
  opacity: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 10010;
}
.top-action .nx-icon {
  display: block;
  margin: -6px auto;
}
.scroll-top .top-action {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.scroll-top .top-action:active {
  background: #333333;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}
footer {
  margin-top: 25px;
}
.footer-sep {
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  background: #F0F0F0;
  height: 18px;
}
.footer-primary-links {
  background: #F9F9F9;
}
.footer-primary-links .footer-primary-link {
  text-decoration: none;
  height: 44px;
  padding-left: 18px;
  display: block;
  vertical-align: middle;
  border-bottom: solid 1px #E6E6E6;
}
.footer-primary-links .footer-primary-link .nx-icon {
  float: right;
  margin-top: 8px;
  margin-right: 18px;
}
.footer-primary-links .footer-account-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.footer-primary-links .footer-account-wrapper .named-account-signout {
  width: 100%;
  padding-top: 10px;
}
.footer-primary-links .footer-link-call {
  height: 58px;
}
.footer-primary-links .footer-forgetme {
  padding-right: 18px;
  height: 44px !important;
  padding-top: 6px !important;
  border-left: none !important;
}
.footer-primary-links a[href^='tel:'] {
  text-decoration: none;
  font-weight: 400;
}
.footer-primary-links .footer-call-wrapper {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  /*Avoid inline spacing*/
}
.footer-primary-links .footer-call-wrapper span {
  font-size: 14px;
}
.footer-primary-links .footer-call-wrapper .footer-call-charges {
  font-size: 11px;
  color: #7E7F79;
}
.footer-primary-links .nodisplay {
  display: none;
}
.footer-sign-out {
  font-size: 11px;
  color: #7e7f79;
  padding-top: 16px;
}
.footer-secondary-links {
  background: #F9F9F9;
  border-bottom: solid 1px #E6E6E6;
}
.footer-secondary-links a {
  text-decoration: none;
  height: 44px;
  padding-left: 18px;
  display: block;
  vertical-align: middle;
}
.footer-copy {
  background: #F9F9F9;
  padding-left: 18px;
  height: 54px;
  font-size: 11px;
  text-transform: uppercase;
  color: #7E7F79;
}
.footer-copy span {
  vertical-align: middle;
}
#footer-tel-link {
  text-decoration: none;
  padding-left: 18px;
  display: block;
  vertical-align: middle;
  border-bottom: solid 1px #e6e6e6;
}
@media (min-width: 480px) {
  .footer-primary-links a:nth-child(odd) {
    border-right: solid 1px #E6E6E6;
  }
  .footer-primary-links .rightBorder {
    border-right: solid 1px #E6E6E6;
  }
  .footer-copy {
    padding-left: 0;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 510px) {
  /* Override padding so that content is always visible */
  .footer-primary-links a.footer-link-call {
    padding-left: 4px;
  }
}
@media (min-width: 480px) {
  .footer-primary-links a.footer-link-call {
    height: 44px;
  }
}
.transfer_ap_link {
  cursor: pointer;
}
.ui-state-bold {
  font-weight: bold;
}
.left-CollectionSpread {
  width: 50%;
  display: inline-block;
  position: relative;
}
.left-CollectionSpread .Loading.nx-spinner-dark {
  height: 32px;
  width: 32px;
  top: 45%;
  left: 45%;
  margin: 30% 0px;
}
.left-CollectionSpread #storefront-Image {
  padding: 15px 20px 5% 17.5px;
  width: 100%;
}
.right-CollectionHeader {
  float: right;
  width: 50%;
}
.right-CollectionHeader .nav-Collection-Link {
  margin-top: 30%;
  padding-top: 5px;
}
.right-CollectionHeader .nav-Collection-Link i {
  margin-top: 15%;
}
.named-account {
  border-right: none !important;
}
@media (max-width: 540px) {
  .left-CollectionSpread {
    width: 100%;
  }
  .left-CollectionSpread #storefront-Image {
    padding: 15px 20px 5% 17.5px;
  }
  .right-CollectionHeader {
    float: none;
    width: 100%;
  }
  .right-CollectionHeader .nav-Collection-Link {
    width: 100%;
    padding-left: 15px;
    margin-top: auto;
    padding-top: 5px;
  }
  .right-CollectionHeader .nav-Collection-Link i {
    margin-top: 70%;
  }
}
@media (max-width: 480px) {
  .named-account {
    border-bottom: 0px !important;
  }
  .named-account-signout {
    border-top: solid 1px #e6e6e6;
    width: 100%;
    padding-top: 10px;
  }
}
#backToSpread-Container {
  width: 100%;
  height: 35px;
  padding-top: 8px;
  padding-right: 8px;
  background-color: rgba(249, 249, 249, 0.9);
  z-index: 10050;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  border-bottom: solid 1px #ebebeb;
}
#backToSpread-Container #backToSpread {
  height: 20px;
}
#backToSpread-Container #backToSpread #exitText {
  float: right;
}
#backToSpread-Container #backToSpread #returnToSpread {
  background-size: 364px 328px;
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  top: 2px;
  right: 2px;
  background-image: url('/images/mobile/sprites.png');
  /*background-position: 0 -545px;*/
  background-position: 42px -615px;
  float: right;
}
#backToSpread-Container.hide {
  display: none;
}
#nav-headers.hide {
  display: none;
}
.footer-spread-only {
  height: 18px;
}
.footer-spread-only.hide {
  display: none;
}
#nav-headers-spacer.hide {
  display: none;
}
/*# sourceMappingURL=layout.css.map */