
.share-icon {
	width: 35px;
	margin: 6px auto;
    display: block;
}
.in-stock, .in-warning, .out-of-stock, .please-select {
  display: none;
}

.please-select.active {
  display: block;
}

.in-warning.active {
  display: block;
	color: rgb(183,147,99);
	font-family: 'azoRegular';
  font-size: 16px !Important;
}
.out-of-stock.active {
  display: block;
  color: rgb(254, 0, 52);
  font-family: 'azoRegular';
  font-size: 16px !Important;
}
.in-stock.active {
  display: block;
  color: rgb(107,214,162);
  font-family: 'azoRegular';
  font-size: 16px !Important;
}

.size-guide {
  float: right;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'azoLight' !Important;
}


.main-site-body-content .product-customise-size .size-div-warning {
  height: 48px;
  width: 48px;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  background-color: rgb(253,248,242);
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
}
.main-site-body-content .product-customise-size .size-div-warning.active {
  background-color: rgb(253,248,242);
  border: 2px solid rgb(215, 147, 0);
}

.main-site-body-content .product-customise-size .size-div-out-off-stock {
  height: 48px;
  width: 48px;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  background-color: rgb(254, 232, 234);
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
}
.main-site-body-content .product-customise-size .size-div-out-off-stock.active {
  background-color: rgb(254, 232, 234);
  border: 2px solid rgb(254, 0, 52);
}

.main-site-body-content .size-div-out-off-stock, 
.main-site-body-content .size-div-warning{
  transition: 1s all ease;
  transition-delay: 0;
  cursor: pointer;
}

#notify-popup {
    position: fixed;
    z-index: 999;
    top: -100%;
    padding: 0 20px 20px 20px ;
    background-color: #fff;
    left: 0;
    right: 0;
    width: 84%;
    margin: 0 auto;
}

#notify-popup h3 span {
  letter-spacing: 2px;
  font-family: 'azoRegular';
  margin: 10px 0;
  font-size: 20px;
}
#notify-popup p {
  line-height: 1.7;
  font-family: 'azoRegular';
  margin: 0 0 20px 0;
  font-size: 16px;
}

#notify-popup .input-wrapper input {
    height: 50px !Important;
    width: 80% !Important;
}

#notify-popup .input-wrapper button {
  height: 50px !Important; 
}

#notify-popup .input-wrapper {
  position: relative;
}



.validation-msg {
  color: red;
  display: none;
}
.email-cancel-image {
    position: absolute;
    top: 18px;
    right: 75px;
    display: none;
}

.thankyou-body, .thankyou-heading {
  display: none;
}




/*cut from content.css*/
/*----------------------------------------*/
.main-site-body-content .product-customise-fit ul li {
  width: 33.3%;
}
.main-site-body-content .product-head p {
  font-family: 'azoMedium';
  font-size: 18px;
  color: #222222;
  letter-spacing: 2.58px;
  text-align: left;
}
.nav-tabs > li > a {
  margin-right: 10px !Important; 
}

.main-site-body-content .next-typo {
  /*15-04 change*/
  font-family: 'azoMedium';
  font-size: 18px;
  color: #222222;
  letter-spacing: 2.58px;
  text-align: right;
}

.main-site-body-content .custom-background-black {
  /* 15-04 change */
  background-color: rgb(26,101,97);
  color: #fff;
  border-radius: 0;
  font-size: 16px;
  font-family: "azoRegular";
}

.main-site-body-content .panel-group .collapsed .plus-icon img,
.main-site-body-content .panel-group .collapsed .minus-icon img,
.main-site-body-content .panel-group .minus-icon img {
	width: 10px;
	margin: 0 !Important;
  
}

.main-site-body-content .panel-group .collapsed .plus-icon {
  display: block;
  transition: 1s all linear;
  transform: rotate(270deg);
  text-align: center;
  margin-top: 10px;
}
.main-site-body-content .panel-group .collapsed .minus-icon {
  display: none;
  transition: 1s all linear;
  transform: rotate(90deg);
  text-align: center;
  margin-top: 10px;
}
.main-site-body-content .panel-group .minus-icon {
  transform: rotate(90deg);
  text-align: center;
  margin-top: 10px;
}


