.clear-all a{
  text-decoration: none;
  color: #000;
  letter-spacing: 1px
}

.filter-wrapper .total-number {
	font-size: 0.95em !Important;
	color: #b3b3b3;
}


@media screen and (min-width: 992px) {
  .main-site-body-content .padding-upper-than-992 {
    padding: 0 6px 0 6px !Important;
  }
}
  