
h2.effect > a {
	position: relative;
	color: #000;
	text-decoration: none;
}

h2.effect > a:hover {
	color: #000;
}

h2.effect > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

h2.effect > a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.no-padding {
	padding: 0;
}

.section-margin {
	margin-bottom: 10px;
}

.margin-right10 {
	margin-right: 10px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #ccc;
}

.width100, .width100-fix {
	width: 100%;
}

.section-margin-top-bottom {
	margin: 20px 0;
}

.padding-right-off {
	padding-right: 0;
}

/**/

.product-customise{
	 p {
		font-family:'azoLight';
		font-size:14px;
		color:#222222;
		letter-spacing:2.29px;
		text-align:left;
		span {
			font-family:'azoRegular';
			color:#000;
		}
	}
}


.product-customise-color {
	margin: 10px 0px;
	.color-div {
		height: 30px;
		width: 30px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 1px solid #000;
		border-radius: 2px;

		&.active {
			.active-color {
				display: block;
				width: 46px;
				height: 46px;
				margin: 1px auto;
				border: 1px solid #fff;
			}
		}
	}
}

.share-img {
	width: 17px;
	margin-right: 3px;
	cursor: pointer;
}

.fav-img {
	width: 20px;
	margin-right: 3px;
	cursor: pointer;
}

.disabled {
	z-index: 1000;
	background-color: lightgrey;
	opacity: 0.6;
	pointer-events: none;
	//background-image: url(../images/multiply.png);
	background-position: center;
	background-size: 130%;
}

.circle-dot-custom {
	height: 30px;
	width: 30px;
	background-color: #b1b1b1;
	display: block;
	float: left;
	margin-right: 10px;
	border-radius: 15px;
	border: 1px solid;
}

.margin-custom-slider {
	margin-left: 30%;
}

.color-div {
	background-color: #000;
	&:nth-child(3) {
		background-color: #ccc;
	}
	&:nth-child(2) {
		background-color: #fff;
	}
}


.wish-lists {
	margin: 20px 0 10px;
}

.desktop-banners {
	div {
		padding: 10px;
	}
	img {
		width: 100%;
	}
}

.single-item img {
	width: 100%;
}

.zoom-icon-mobile {
	display: block !important;
}

.zoom-icon {
	position: absolute;
	display: none;
	z-index: 9;
	bottom: 19px;
	right: 17px;
	width: 45px !important;
	opacity: 0.4;
	-webkit-transition: 1s all ease;
	-moz-transition: 1s all ease;
	transition: 1s all ease;
}

.desktop-banners div:hover .zoom-icon {
	display: block;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	transition: 1s all;
}

/* collapse customisation  */

.panel-group .panel {
	margin: 0;
	border-radius: 0;
	border-color: #000;
	border-collapse: collapse;
	border: 0px;
	border-top: 1px solid;
	box-shadow: 0 0 0;
	&:nth-last-child(1) {
		border-bottom: 1px solid;
	}
}

.panel-default > .panel-heading {
	color: #000;
	background-color: #fff;
	border-color: #000;
}

.panel-heading {
	padding: 0;
	a {
		font-family:'azoLight';
		font-size:14px;
		color:#222222;
		letter-spacing:2.29px;
		text-align:left;
	}
}

.modal-dialog {
	margin: 10px auto;
}

.panel-title {
	font-size: 13px;
}

.panel-group a {
	&:focus, &:hover {
		text-decoration: none;
	}
}

/*tabs */

.nav > li > a {
	position: relative;
	display: block;
	padding: 0;
	border: 0;
}

.nav-tabs > li {
	> a:hover {
		background-color: transparent;
	}
	&.active > a {
		border: 0;
		&:focus, &:hover {
			border: 0;
		}
	}
}


.nav-tabs {
	border: 0;
}

/* slider */

/* the slides */

.slick-slide {
	margin: 0 15px;
}

/* the parent */

.slick-list {
	margin: 0px;
}

.slick-slide {
	/*margin-right: 20px;*/
	position: relative;
}

.single-item .slick-slide {
	margin-right: 0px !important;
}

.main-slider .slick-dots li {
	width: 38px;
	height: 20px;
	button:before {
		top: -27px;
		line-height: 1;
		left: 0;
		background-color: black;
		width: 44px;
		height: 3px;
	}
}

.slides3 .slick-dots li {
	width: 38px;
	height: 20px;
	button:before {
		top: 10px;
		line-height: 1;
		left: 0;
		background-color: black;
		width: 44px;
		height: 3px;
	}
}



// --------------------------------------------------------
.main-site-body-content {
	.search-page {
		margin-top: 18px;
	}
	.search-product {
		padding: 70px 0 0 0;
		.info {
			border: 1px solid blue;
			text-align: center;
		}
	}
	.greeting-text {
		font-size: 16px;
		font-family: 'azoLight';
		padding-top: 51px;
	}

	fieldset {
		padding: .35em .625em .75em;
		margin: 0 2px;
		border: 0;
		border-top: 1px solid silver;
	}
	legend {
		display: block;
		width: initial;
		padding: 0px 44px;
		text-align: center;
		margin-bottom: -4px;
		font-size: 21px;
		line-height: inherit;
		color: #333;
		border: 0;
		border-bottom: 0px;
	}
	.custom-arrows-setting {
		position: absolute;
		top: 0;
		z-index: 999;
		width: 100%;
		top: 45%;
		ul {
			padding: 0;
			margin: 0;
		}
	}
	/*helper classes*/
	.book-image {
		vertical-align: text-bottom;
    	margin-left: 5px;
	}
	.no-padding {
		padding: 0;
	}
	.section-margin {
		margin-bottom: 10px;
	}
	.section-margin2 {
		margin: 20px 0;
	}
	.modal {
		z-index: 9999999;
	}
	.margin-right10 {
		margin-right: 10px;
	}
	hr {
		margin-top: 10px;
		margin-bottom: 10px;
		border-color: #ccc;
	}
	.size-div {
		transition: 1s all ease;
		transition-delay: 0;
		cursor: pointer;
	}
	.width100,
	.width100-fix {
		width: 100%;
	}
	.section-margin-top-bottom {
		margin: 20px 0;
	}
	.padding-right-off {
		padding-right: 0;
	}
	/**/

	p {
		margin-bottom: 5px;
		font-size: 14px;
	}
	.product-head {
		margin: 0px 0px 10px 0;
		p {
			font-family: 'azoRegular';
			font-size:18px;
			color:#222222;
			letter-spacing:2.58px;
			text-align:left;
		}
	}
	.product-customise p {
		font-size: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.product-customise-fit {
		margin: 10px 0px;
		input[type=button] {
			background-color: #f7f7f7;
			border: 1px solid #e5e5e5;
			width: 106px;
			height: 44px;
			margin-right: 2px;
			text-transform: uppercase;
			font-family:'azoLight';
			font-size:14px;
			color:#222222;
			letter-spacing:1.79px;
			border-radius: 2px;
			
			&.active {
				background-color: #fff;
				border: 1px solid #000;
				color: #000;
			}
		}
	}
	.product-customise-color {
		margin: 10px 0px;
		.color-div {
			height: 50px;
			width: 50px;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
			border: 1px solid #e6e6e6;
		}
	}
	.share-img {
		width: 17px;
		margin-right: 6px;
		cursor: pointer;
	}
	.fav-img {
		width: 20px;
		margin-right: 3px;
		cursor: pointer;
	}
	.disabled {
		z-index: 1000;
		background-color: lightgrey;
		opacity: 0.6;
		pointer-events: none;
		background-position: -1px;
		background-size: 108%;
		background-repeat: no-repeat;
	}
	.circle-dot-custom {
		height: 30px;
		width: 30px;
		background-color: #b1b1b1;
		display: block;
		float: left;
		margin-right: 10px;
		border-radius: 15px;
		border: 1px solid;
	}
	.margin-custom-slider {
		margin-left: 30%;
	}
	.color-div {
		background-color: #000;
		&:nth-child(3) {
			background-color: #ccc;
		}
		&:nth-child(2) {
			background-color: #22905d;
		}
	}
	.product-customise-size {
		margin: 10px 0px;
		.size-div {
			height: 50px;
			width: 50px;
			font-size: 16px;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
			border: 1px solid #e5e5e5;
			background-color: #f7f7f7;
			text-align: center;
			line-height: 50px;
			border-radius: 2px;
			&.active {
				background-color: #fff;
				border: 1px solid #000;
			}
		}
	}
	.product-first {
		.slick-slide {
			.main-cont {
				text-align: center;
				padding: 10px;
				p {
					font-family:'azoRegular';
					font-size:14px;
					color:#222222;
					letter-spacing:2.29px;
					line-height:21px;
					text-align:center;
				}
				.hastag {
					font-size: 12px;
					font-family:'azoLight';
				}
			}
		}
	}
	.product-second {
		.slick-slide {
			.main-cont {
				text-align: center;
				padding: 10px;
				span {
					display: block;
					font-size: 18px;
					margin: 10px 0 5px;
				}

				.hastag {
					font-size: 12px;
					font-family:'azoLight';
				}
			}
		}
	}
	.wish-lists {
		margin: 20px 0 20px;
		p {
			font-size: 18	px;
			letter-spacing: 2px;
		}
	}
	.wear-it {
		p {
			font-family:'azoLight';
			font-size:14px;
			color:#222222;
			letter-spacing:2.29px;
			text-align:left;
		}
	}
	.product-second {
		margin-bottom: 30px
	}
	.desktop-banners {
		div {
			padding: 10px;
		}
		img {
			width: 100%;
		}
	}
	.img-fluid {
		width: 100%
	}
	.single-item img {
		width: 100%;
	}
	.next-typo {
		font-family:'azoMedium';
		font-size:18px;
		color:#222222;
		letter-spacing:2.58px;
		text-align:right;
	}
	.next-typo2 {
		font-family:'azoLight';
		font-size:11px;
		color:#222222;
		letter-spacing:1.58px;
		text-align:right;
		font-style: italic;
		margin-top: 6px;
	}
	.border-bottom {
		border-bottom:1px solid #e6e6e6;
	}
	.rating-click {
		margin-bottom: 20px;
		a {
			text-decoration: none;
			font-size: 16px;
			font-family: 'azoLight';
			color: #222222;
			span {
				margin-left: 5px;
			}
		}
	}
	.zoom-icon-mobile {
		display: block !important;
	}
	.zoom-icon {
		position: absolute;
		display: none;
		z-index: 9;
		bottom: 19px;
		left: 17px;
		width: 35px !important;
		opacity: 1;
		-webkit-transition: 1s all ease;
		-moz-transition: 1s all ease;
		transition: 1s all ease;
	}
	.desktop-banners div:hover .zoom-icon {
		display: block;
		-webkit-transition: 1s all;
		-moz-transition: 1s all;
		transition: 1s all;
	}
	/* collapse customisation  */

	.panel-group .panel {
		margin: 0;
		border-radius: 0;
		border-color: #000;
		border-collapse: collapse;
		border: 0px;
		border-top: 1px solid;
		box-shadow: 0 0 0;
		&:nth-last-child(1) {
			border-bottom: 1px solid;
		}
	}
	.panel-default > .panel-heading {
		color: #000;
		background-color: #fff;
		border-color: #000;
	}
	.panel-heading {
		padding: 0;
		a {
			padding: 14px 10px;
			display: block;
		}
	}
	.panel-body {
		font-family:'azoLight';
		font-size:14px;
		color:#222222;
		letter-spacing:0.4px;
		line-height:24px;
		text-align:left;
		border-top: 0px !important; 
	}
	.panel-group {
		.plus-icon {
			display: none;
			transition: 1s all linear;
			margin-top: 2px
		}
		.minus-icon {
			display: block;
			transition: 1s all linear;
			margin-top: 2px
		}
		.collapsed {
			.plus-icon {
				display: block;
				transition: 1s all linear;
			}
			.minus-icon {
				display: none;
				transition: 1s all linear;
			}
		}
	}
	.modal-dialog {
		margin: 10px auto;
	}
	.panel-title {
		font-size: 13px;
	}
	.margintop10 {
		margin-top: 10px;
	}
	.width200px {
		width: 200px;
	}
	.panel-group a {
		&:focus, &:hover {
			text-decoration: none;
		}
	}
	/*tabs */

	.nav > li > a {
		position: relative;
		display: block;
		padding: 0;
		border: 0;
	}
	.nav-tabs > li {
		> a:hover {
			background-color: transparent;
		}
		&.active > a {
			border: 0;
			&:focus, &:hover {
				border: 0;
			}
		}
	}
	.product-customise-fit li.active input[type=button] {
		background-color: #fff !important;
		border: 1px solid #000 !important;
		color: #000 !important;
	}
	.nav-tabs {
		border: 0;
	}
	/* slider */
	/* the slides */

	.slick-slide {
		margin: 0 15px;
	}
	/* the parent */

	.slick-list {
		margin: 0px;
	}
	.slick-slide {
		/*margin-right: 20px;*/

		position: relative;
		height: auto;
	}
	.single-item .slick-slide {
		margin-right: 0px !important;
	}
	.clear-both {
		clear: both
	}
	.product-main {
		.slick-dots {
			bottom: -10px;
			li {
				margin: 0;
			}
		}
	}

	.product-main.slick-dotted.slick-slider {
		margin-bottom: 5px;
	}
	.slider-custom .slick-dots li {
		width: 38px;
		height: 20px;
		button:before {
			top: -12px;
			line-height: 1;
			left: 0;
			background-color: black;
			width: 39px;
			content: "";
			height: 3px;
		}
	}
	.product-main .slick-dots li {
		button:before {
			font-size: 8px;
			top: -61px;
			color: #fff;
			opacity: 1;
			position: absolute;
			width: 12px;
			height: 12px;
			content: '\2022';
			text-align: center;
			border: 2px solid #000;
			border-radius: 12px;
			line-height: 8px;
		}
	}
	.product-main .slick-dots li.slick-active {
		button:before {
			color: #5dad89;
		}
	}
	.slider-recommended .slick-dots li {
		width: 38px;
		height: 20px;
		button:before {
			top: -8px;
			line-height: 1;
			left: 0;
			background-color: black;
			width: 39px;
			content: "";
			height: 3px;
		}
	}
	.slider-stories .slick-dots li {
		width: 38px;
		height: 20px;
		button:before {
			top: -8px;
			line-height: 1;
			left: 0;
			background-color: black;
			width: 39px;
			height: 3px;
		}
	}
	.slider-stories {
		div.main-cont {
			width: 150px;
			padding: 4px;
		}
	}
	.slider-recommended {
		div.main-cont {
			width: 150px;
		}
	}
	/*   buttons  */

	input {
		&[type=button] {
			width: 100%;
			border: 1px solid #000;
			font-size: 12px;
			margin-bottom: 10px;
			height: 30px;
			border-radius: 0;
		}
		&[type=text],
		&[type=email] {
			width: 100%;
			border: 1px solid #000;
			font-size: 12px;
			height: 34px;
			border-radius: 0;
		}
	}
	.custom-background-black {
		background-color:#222222;
		color: #fff;
		border-radius: 0;
		font-size: 16px;
		font-family: "azoRegular"
	}
	.custom-btn-height {
		height: 60px !important;
		font-family: 'azoMedium';
		font-size: 17px !important;
		border-radius: 3px !important;
	}
	.custom-background-trans {
		background-color: transparent;
		color: #000;
	}
	/*page Index new*/

	.latest-section {
		background-color: #ecebeb;
		border: 1px solid #000;
		padding: 20px 0px;
	}
	/* footer */

	.footer {
		padding: 10px;
		background-color: #f3f3f3;
	}
	/* Responsive: Portrait tablets and down */

	@media screen and (max-width: 768px) {
		.custom-arrows-setting {
			display: none;
		}
		.no-padding-mobile {
			padding: 0;
		}
		.slick-slide {
			margin: 0 1px;
		}
		.slider-recommended {
			img {
				padding: 7px;
			}
		}
		.slider-brands {
			margin-bottom: 30px;
			img {
				padding: 0px 30px;
			}
		}
		.custom-background-black {
			width: 100%;
		}
		.latest-section {
			background-color: #ecebeb;
			border: 1px solid #000;
			padding: 20px 0px;
			text-align: left;
			padding: 20px;
			span {
				margin-bottom: 10px;
				display: block;
			}
		}
		legend {
			padding: 0px 15px;
			font-size: 15px;
		}
		.custom-padding-left-img {
			padding: 0 6px 0 0;
		}
		.custom-padding-right-img {
			padding: 0 0 0 6px;
		}
		.width100 {
			width: initial;
		}
		.variable img {
			width: 150px;
		}
		.center img {
			width: 190px;
		}
		.circle-dot-custom {
			height: 22px;
			width: 22px;
			border-radius: 11px;
		}
		.margin-custom-slider {
			margin-left: 24%;
		}
	}
	.slick-disabled {
		opacity: 0;
		pointer-events: none;
	}
	.home-center-content {
		h3 {
			font-family: "azoMedium";
			font-weight: bold;
			font-size: 24px;
			letter-spacing: 3px;
		}
		.stories-section {
		.recommended-text {
				h3 {

					font-family: "azoMedium";
					font-weight: bold;
					font-size: 24px;
					letter-spacing: 3px;
				}
				p {
					font-family: "azoLight";
					font-size: 16px;
				}
			}
		}
		.centering {
			float: none;
			margin: 0 auto;
		}
		.recommended-slider {
			p {
				font-family: "azoMedium";
				font-size: 16px;
				margin: 20px 0 50px 0;
			}
		}
		.logo-sider-section {
			
			p {
				font-family: "azoLight";
				font-size: 16px;
				margin: 10px 0 30px 0;
			}
		}
		.stories-section {
			background-color: #f5efeb;
			padding-bottom: 30px;
			h3 {
				font-family: "azoMedium";
				font-size: 22px;
				letter-spacing: 6px;
				span {
					font-family: "azoThin";
					font-style: italic;
					display: inline;
					font-size: 22px;
				}
			}
			p {
				font-family: "azoLight";
				font-size: 15px;
				margin-top: 10px;
				color: #000;
			}
			span {
				font-family: "azoLight";
				font-size: 22px;
				margin-top: 10px;
				display: block
			}
			.hastag {
				color: #000;
				font-size: 13px;
			}
		}
		.main-slider {
			p {
				margin: 20px;
				font-size: 18px;
				font-family: "azoThin"
			}
			strong {
				font-family: "azoMedium"
			}
		}
		.first-text {
			p {
				margin: 20px;
				font-size: 18px;
				font-family: "azoThin"
			}
			strong {
				font-family: "azoMedium"
			}
			a {
				color: #000;
				text-decoration: none;
			}
		}
		.btn-black-bordered {
			background-color: #fff;
			color: #000;
			border: 1px solid #000;
			padding: 2px 10px;
			margin-top:10px;
			width: initial;
			letter-spacing: 3px;
			height: 35px;
			font-family: "azoRegular";
			font-size: 14px;
			display: inline-block;
			line-height: 32px;
			text-decoration: none;
			cursor: pointer;
		}
		.btn-black {
			background-color: #000;
			color: #fff;
			border: 1px solid #000;
			padding: 7px 20px;
			letter-spacing: 4px;
			margin-top: 30px;
			width: initial;
			height: 40px;
			font-family: "azoMedium";
			font-size: 16px;
		}
		.items-800 {
			background-color: #282828;
			padding: 40px;
			margin-bottom: 40px;
		}
		.btn-gold {
			background-color: #dbbc71;
			color: #282828;
			border: 1px solid #000;
			padding: 9px 10px;
			letter-spacing: 3px;
			width: initial;
			height: 36px;
			font-size: 12px;
		}
		.search-banner {
			padding-bottom: 12px;
		}
		.six-images-sec {
			padding: 0 37px;
			a {
				text-decoration: none;
				    display: block;
			}
			p {
				margin: 20px;
				font-size: 18px;
				font-family: "azoRegular";
				color: #000;				
			}
			div {
				margin-bottom: 20px;
			}
		}
		.search-images-sec {
			padding: 0 20px;
			p {
				margin: 5px 10px 8px 10px;
				font-size: 16px;
				font-family: "azoRegular";
				letter-spacing: 2px;
			}
			.rate {
				font-size: 14px;
				font-family: "azoLight"
			}
			
			.info-written {
				text-align: center;
				a {
					text-decoration: none;
					color: #222222;
				}
				img {
					width: 60px;
					margin: 0 auto 15px;
				}
			}
		}
	}

	.color-product-search {
		margin-bottom: 5px !important;
		
		.select-color{
			float: left;
			width: 30px;
			height:10px;
			margin-bottom: 5px !important;
			transition: 0.5s all ease;
			&:nth-child(1) {
				span {
					width: 30px;
					height:10px;
					background-color: #000;
					display: block;
				}
				&.active {
					border-bottom: 2px solid #000;	
					padding-bottom: 12px;
				}
			}
			&:nth-child(2) {
				span {
					width: 30px;
					height:10px;
					display: block;
					background-color: #c63446;
				}
				&.active {
					border-bottom: 2px solid #c63446;	
					padding-bottom: 12px;
				}
			}
			&:nth-child(3) {
				span {
					width: 30px;
					height:10px;
					background-color: #294c74;
					display: block;
				}
				&.active {
					border-bottom: 2px solid #294c74;	
					padding-bottom: 12px;
				}
			}

			&:nth-child(4) {
				span {
					width: 30px;
					height:10px;
					background-color: #677657;
					display: block;
				}
				&.active {
					border-bottom: 2px solid #677657;	
					padding-bottom: 12px;
				}
			}
			&:nth-child(5) {
				span {
					width: 30px;
					height:10px;
					background-color: #b39159;
					display: block;
				}
				&.active {
					border-bottom: 2px solid #b39159;	
					padding-bottom: 12px;
				}
			}
		
			span{
				width: 30px;
				height:50px;
				
			}
		}
	}
}

.img-popup-div {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: #acacac;
    z-index: 9999999;
    top: 0;
	display: none;

	
	img.popup-image {
		width: 100%;
	}

	.close-btn {
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
