h2.effect > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

h2.effect > a:hover {
  color: #000;
}

h2.effect > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2.effect > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.no-padding {
  padding: 0;
}

.section-margin {
  margin-bottom: 10px;
}

.margin-right10 {
  margin-right: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #ccc;
}

.width100, .width100-fix {
  width: 100%;
}

.section-margin-top-bottom {
  margin: 20px 0;
}

.padding-right-off {
  padding-right: 0;
}

/**/
.product-customise p {
  font-family: 'azoLight';
  font-size: 14px;
  color: #222222;
  letter-spacing: 2.29px;
  text-align: left;
}
.product-customise p span {
  font-family: 'azoRegular';
  color: #000;
}

.product-customise-color {
  margin: 10px 0px;
}
.product-customise-color .color-div {
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 2px;
}
.product-customise-color .color-div.active .active-color {
  /* 15-04 change */
  display: block;
  width: 42px;
  height: 42px;
  margin: 2px auto;
  border: 2px solid #fff;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  transition: 0.4s all ease;
  /* border-radius: 5px; */
}

.share-img {
  width: 17px;
  margin-right: 3px;
  cursor: pointer;
}

.fav-img {
  width: 20px;
  margin-right: 3px;
  cursor: pointer;
}

.disabled {
  z-index: 1000;
  background-color: lightgrey;
  opacity: 0.6;
  pointer-events: none;
  background-position: center;
  background-size: 130%;
}

.circle-dot-custom {
  height: 30px;
  width: 30px;
  background-color: #b1b1b1;
  display: block;
  float: left;
  margin-right: 10px;
  border-radius: 15px;
  border: 1px solid;
}

.margin-custom-slider {
  margin-left: 30%;
}

.color-div {
  background-color: #000;
}
.color-div:nth-child(3) {
  background-color: #ccc;
}
.color-div:nth-child(2) {
  background-color: #fff;
}

.wish-lists {
  margin: 20px 0 10px;
}

.desktop-banners div {
  padding: 10px;
}
.desktop-banners img {
  width: 100%;
}

.single-item img {
  width: 100%;
}

.zoom-icon-mobile {
  display: block !important;
}

.zoom-icon {
  position: absolute;
  display: none;
  z-index: 9;
  bottom: 19px;
  right: 17px;
  width: 45px !important;
  opacity: 0.4;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease;
}

.desktop-banners div:hover .zoom-icon {
  display: block;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  transition: 1s all;
}

/* collapse customisation  */
.panel-group .panel {
  margin: 0;
  border-radius: 0;
  border-color: #000;
  border-collapse: collapse;
  border: 0px;
  border-top: 1px solid;
  box-shadow: 0 0 0;
}
.panel-group .panel:nth-last-child(1) {
  border-bottom: 1px solid;
}

.panel-default > .panel-heading {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.panel-heading {
  padding: 0;
}
.panel-heading a {
  font-family: 'azoLight';
  font-size: 14px;
  color: #222222;
  letter-spacing: 2.29px;
  text-align: left;
}

.modal-dialog {
  margin: 10px auto;
}

.panel-title {
  font-size: 13px;
}

.panel-group a:focus, .panel-group a:hover {
  text-decoration: none;
}

/*tabs */
.nav > li > a {
  position: relative;
  display: block;
  padding: 0;
  border: 0;
}

.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a {
  border: 0;
}
.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0;
}

.nav-tabs {
  border: 0;
}

/* slider */
/* the slides */
.slick-slide {
  margin: 0 15px;
}

/* the parent */
.slick-list {
  margin: 0px;
}

.slick-slide {
  /*margin-right: 20px;*/
  position: relative;
}

.single-item .slick-slide {
  margin-right: 0px !important;
}

.main-slider .slick-dots li {
  width: 38px;
  height: 20px;
}
.main-slider .slick-dots li button:before {
  top: -27px;
  line-height: 1;
  left: 0;
  background-color: black;
  width: 44px;
  height: 3px;
}

.slides3 .slick-dots li {
  width: 38px;
  height: 20px;
}
.slides3 .slick-dots li button:before {
  top: 10px;
  line-height: 1;
  left: 0;
  background-color: black;
  width: 44px;
  height: 3px;
}

.main-site-body-content {
  /*helper classes*/
  /**/
  /* collapse customisation  */
  /*tabs */
  /* slider */
  /* the slides */
  /* the parent */
  /*   buttons  */
  /*page Index new*/
  /* footer */
  /* Responsive: Portrait tablets and down */
}
.main-site-body-content .search-page {
  margin-top: 18px;
}
.main-site-body-content .search-product {
  padding: 70px 0 0 0;
}
.main-site-body-content .search-product .info {
  border: 1px solid blue;
  text-align: center;
}
.main-site-body-content .greeting-text {
  font-size: 16px;
  font-family: 'azoLight';
  padding-top: 51px;
}
.main-site-body-content fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 0;
  border-top: 1px solid silver;
}
.main-site-body-content legend {
  display: block;
  width: initial;
  padding: 0px 44px;
  text-align: center;
  margin-bottom: -4px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 0px;
}
.main-site-body-content .custom-arrows-setting {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  top: 45%;
}
.main-site-body-content .custom-arrows-setting ul {
  padding: 0;
  margin: 0;
}
.main-site-body-content .book-image {
  vertical-align: text-bottom;
  margin-left: 5px;
}
.main-site-body-content .no-padding {
  padding: 0;
}
.main-site-body-content .section-margin {
  margin-bottom: 10px;
}
.main-site-body-content .section-margin2 {
  margin: 20px 0;
}
.main-site-body-content .modal {
  z-index: 9999999;
}
.main-site-body-content .margin-right10 {
  margin-right: 10px;
}
.main-site-body-content hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #ccc;
}
.main-site-body-content .size-div {
  transition: 1s all ease;
  transition-delay: 0;
  cursor: pointer;
}
.main-site-body-content .width100,
.main-site-body-content .width100-fix {
  width: 100%;
}
.main-site-body-content .section-margin-top-bottom {
  margin: 20px 0;
}
.main-site-body-content .padding-right-off {
  padding-right: 0;
}
.main-site-body-content p {
  margin-bottom: 5px;
  font-size: 14px;
}
.main-site-body-content .product-head {
  margin: 0px 0px 10px 0;
}
.main-site-body-content .product-head p {
  font-family: 'azoRegular';
  font-size: 18px;
  color: #222222;
  letter-spacing: 2.58px;
  text-align: left;
}
.main-site-body-content .product-customise p {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-site-body-content .product-customise-fit {
  margin: 10px 0px;
}
.main-site-body-content .product-customise-fit ul li {
  width: 33.3%;
}
/* 15-04 change */
.main-site-body-content .product-customise-fit input[type=button] {
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 48px;
  margin-right: 2px;
  text-transform: uppercase;
  font-family: 'azoLight';
  font-size: 14px;
  color: #222222;
  letter-spacing: 1px;
  border-radius: 4px;
}
/* 15-04 change */
.main-site-body-content .product-customise-fit input[type=button].active {
  background-color: rgba(26, 100, 97, 0.05);
  border: 2px solid #1a6461;
  color: #000;
}
.main-site-body-content .product-customise-color {
  margin: 10px 0px;
}
.main-site-body-content .product-customise-color .color-div {
  /*15-04 change*/
  height: 48px;
  width: 48px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  /*-webkit-transition: 1s a/*ll ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease;*/

}
.main-site-body-content .share-img {
  width: 17px;
  margin-right: 6px;
  cursor: pointer;
}
.main-site-body-content .fav-img {
  width: 20px;
  margin-right: 3px;
  cursor: pointer;
}
.main-site-body-content .disabled {
  z-index: 1000;
  background-color: lightgrey;
  opacity: 0.6;
  pointer-events: none;
  background-position: -1px;
  background-size: 108%;
  background-repeat: no-repeat;
}
.main-site-body-content .circle-dot-custom {
  height: 30px;
  width: 30px;
  background-color: #b1b1b1;
  display: block;
  float: left;
  margin-right: 10px;
  border-radius: 15px;
  border: 1px solid;
}
.main-site-body-content .margin-custom-slider {
  margin-left: 30%;
}
.main-site-body-content .color-div {
  background-color: #000;
}
.main-site-body-content .color-div:nth-child(3) {
  background-color: #ccc;
}
.main-site-body-content .color-div:nth-child(2) {
  background-color: #22905d;
}
.main-site-body-content .product-customise-size {
  margin: 10px 0px;
}
.main-site-body-content .product-customise-size .size-div {
  /* 15-04 change */
  height: 48px;
  width: 48px;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
}
.main-site-body-content .product-customise-size .size-div.active {
  /* 15-04 change */
  background-color: rgba(26, 100, 97, 0.05);
  border: 2px solid #1a6461;
}
.main-site-body-content .product-first .slick-slide .main-cont {
  text-align: center;
  padding: 10px;
}
.main-site-body-content .product-first .slick-slide .main-cont p {
  font-family: 'azoRegular';
  font-size: 14px;
  color: #222222;
  letter-spacing: 2.29px;
  line-height: 21px;
  text-align: center;
}
.main-site-body-content .product-first .slick-slide .main-cont .hastag {
  font-size: 12px;
  font-family: 'azoLight';
}
.main-site-body-content .product-second .slick-slide .main-cont {
  text-align: center;
  padding: 10px;
}
.main-site-body-content .product-second .slick-slide .main-cont span {
  display: block;
  font-size: 18px;
  margin: 10px 0 5px;
}
.main-site-body-content .product-second .slick-slide .main-cont .hastag {
  font-size: 12px;
  font-family: 'azoLight';
}
.main-site-body-content .wish-lists {
  margin: 20px 0 20px;
}
.main-site-body-content .wish-lists p {
  font-size: 18	px;
  letter-spacing: 2px;
}
.main-site-body-content .wear-it p {
  font-family: 'azoLight';
  font-size: 14px;
  color: #222222;
  letter-spacing: 2.29px;
  text-align: left;
}
.main-site-body-content .product-second {
  margin-bottom: 30px;
}
.main-site-body-content .desktop-banners div {
  padding: 10px;
}
.main-site-body-content .desktop-banners img {
  width: 100%;
}
.main-site-body-content .img-fluid {
  width: 100%;
}
.main-site-body-content .single-item img {
  width: 100%;
}
.main-site-body-content .next-typo {
  /*15-04 change*/
  font-family: 'azoRegular';
  font-size: 18px;
  color: #222222;
  letter-spacing: 2.58px;
  text-align: right;
}
.main-site-body-content .next-typo2 {
  font-family: 'azoLight';
  font-size: 11px;
  color: #222222;
  letter-spacing: 1.58px;
  text-align: right;
  font-style: italic;
  margin-top: 6px;
}
.main-site-body-content .border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
.main-site-body-content .rating-click {
  margin-bottom: 20px;
}
.main-site-body-content .rating-click a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'azoLight';
  color: #222222;
}
.main-site-body-content .rating-click a span {
  margin-left: 5px;
}
.main-site-body-content .zoom-icon-mobile {
  display: block !important;
}
.main-site-body-content .zoom-icon {
  position: absolute;
  display: none;
  z-index: 9;
  bottom: 19px;
  left: 17px;
  width: 35px !important;
  opacity: 1;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease;
}
.main-site-body-content .desktop-banners div:hover .zoom-icon {
  display: block;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  transition: 1s all;
}
.main-site-body-content .panel-group .panel {
  margin: 0;
  border-radius: 0;
  border-color: #e6e6e6;
  border-collapse: collapse;
 /* border: 0px;
  border-top: 1px solid;*/
  box-shadow: 0 0 0;
}
.main-site-body-content .panel-group .panel:nth-last-child(1) {
  border-bottom: 1px solid #e6e6e6;
}
.main-site-body-content .panel-default > .panel-heading {
  color: #000;
  background-color: #fff;
  border-color: #000;
}
.main-site-body-content .panel-heading {
  padding: 0;
}
.main-site-body-content .panel-heading a {
  padding: 14px 10px;
  display: block;
}
.main-site-body-content .panel-body {
  font-family: 'azoLight';
  font-size: 14px;
  color: #222222;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-align: left;
  border-top: 0px !important;
}
.main-site-body-content .panel-group .plus-icon {
  display: none;
  transition: 1s all linear;
  margin-top: 2px;
}
.main-site-body-content .panel-group .minus-icon {
  display: block;
  transition: 1s all linear;
  margin-top: 2px;
}
.main-site-body-content .panel-group .collapsed .plus-icon {
  display: block;
  transition: 1s all linear;
}
.main-site-body-content .panel-group .collapsed .minus-icon {
  display: none;
  transition: 1s all linear;
}
.main-site-body-content .modal-dialog {
  margin: 10px auto;
}
.main-site-body-content .panel-title {
  font-size: 13px;
}
.main-site-body-content .margintop10 {
  margin-top: 10px;
}
.main-site-body-content .width200px {
  width: 200px;
}
.main-site-body-content .panel-group a:focus, .main-site-body-content .panel-group a:hover {
  text-decoration: none;
}
.main-site-body-content .nav > li > a {
  position: relative;
  display: block;
  padding: 0;
  border: 0;
}
.main-site-body-content .nav-tabs > li > a:hover {
  background-color: transparent;
}
.main-site-body-content .nav-tabs > li.active > a {
  border: 0;
}
.main-site-body-content .nav-tabs > li.active > a:focus, .main-site-body-content .nav-tabs > li.active > a:hover {
  border: 0;
}
.main-site-body-content .product-customise-fit li.active input[type=button] {
  background-color: rgba(26, 100, 97, 0.05);
  border: 2px solid #1a6461;
  color: #000;
  outline: none
}
.main-site-body-content .nav-tabs {
  border: 0;
}
.main-site-body-content .slick-slide {
  margin: 0 15px;
}
.main-site-body-content .slick-list {
  margin: 0px;
}
.main-site-body-content .slick-slide {
  /*margin-right: 20px;*/
  position: relative;
  height: auto;
}
.main-site-body-content .single-item .slick-slide {
  margin-right: 0px !important;
}
.main-site-body-content .clear-both {
  clear: both;
}
.main-site-body-content .product-main .slick-dots {
  bottom: -10px;
}
.main-site-body-content .product-main .slick-dots li {
  margin: 0;
}
.main-site-body-content .product-main.slick-dotted.slick-slider {
  margin-bottom: 5px;
}
.main-site-body-content .slider-custom .slick-dots li {
  width: 38px;
  height: 20px;
}
.main-site-body-content .slider-custom .slick-dots li button:before {
  top: -12px;
  line-height: 1;
  left: 0;
  background-color: black;
  width: 39px;
  content: "";
  height: 3px;
}
.main-site-body-content .product-main .slick-dots li button:before {
      font-size: 6px;
    top: -61px;
    color: #000;
    opacity: 1;
    position: absolute;
    width: 8px;
    height: 8px;
    content: '\2022';
    text-align: center;
    border: 1px solid #fff;
    border-radius: 12px;
    line-height: 6px;
}
.main-site-body-content .product-main .slick-dots li.slick-active button:before {
  color: #0fbb67;
}
.main-site-body-content .slider-recommended .slick-dots li {
  width: 38px;
  height: 20px;
}
.main-site-body-content .slider-recommended .slick-dots li button:before {
  top: -8px;
  line-height: 1;
  left: 0;
  background-color: black;
  width: 39px;
  content: "";
  height: 3px;
}
.main-site-body-content .slider-stories .slick-dots li {
  width: 38px;
  height: 20px;
}
.main-site-body-content .slider-stories .slick-dots li button:before {
  top: -8px;
  line-height: 1;
  left: 0;
  background-color: black;
  width: 39px;
  height: 3px;
}
.main-site-body-content .slider-stories div.main-cont {
  width: 150px;
  padding: 4px;
}
.main-site-body-content .slider-recommended div.main-cont {
  width: 150px;
}
.main-site-body-content input[type=button] {
  width: 100%;
  border: 1px solid #000;
  font-size: 12px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 0;
}
.main-site-body-content input[type=text], .main-site-body-content input[type=email] {
  width: 100%;
  border: 1px solid #000;
  font-size: 12px;
  height: 34px;
  border-radius: 0;
}
.main-site-body-content .custom-background-black {
  /* 15-04 change */
  background-color: #1a6461;
  color: #fff;
  border-radius: 0;
  font-size: 16px;
  font-family: "azoRegular";
}
.main-site-body-content .custom-btn-height {
  /* 15-04 change */
  height: 50px !important;
  font-family: 'azoRegular';
  font-size: 15px !important;
  border-radius: 4px !important;
}
.main-site-body-content .custom-background-trans {
  background-color: transparent;
  color: #000;
}
.main-site-body-content .latest-section {
  background-color: #ecebeb;
  border: 1px solid #000;
  padding: 20px 0px;
}
.main-site-body-content .footer {
  padding: 10px;
  background-color: #f3f3f3;
}
@media screen and (max-width: 768px) {
  .main-site-body-content .custom-arrows-setting {
    display: none;
  }
  .main-site-body-content .no-padding-mobile {
    padding: 0;
  }
  .main-site-body-content .slick-slide {
    margin: 0 1px;
  }
  .main-site-body-content .slider-recommended img {
    padding: 7px;
  }
  .main-site-body-content .slider-brands {
    margin-bottom: 30px;
  }
  .main-site-body-content .slider-brands img {
    padding: 0px 30px;
  }
  .main-site-body-content .custom-background-black {
    width: 100%;
  }
  .main-site-body-content .latest-section {
    background-color: #ecebeb;
    border: 1px solid #000;
    padding: 20px 0px;
    text-align: left;
    padding: 20px;
  }
  .main-site-body-content .latest-section span {
    margin-bottom: 10px;
    display: block;
  }
  .main-site-body-content legend {
    padding: 0px 15px;
    font-size: 15px;
  }
  .main-site-body-content .custom-padding-left-img {
    padding: 0 6px 0 0;
  }
  .main-site-body-content .custom-padding-right-img {
    padding: 0 0 0 6px;
  }
  .main-site-body-content .width100 {
    width: initial;
  }
  .main-site-body-content .variable img {
    width: 150px;
  }
  .main-site-body-content .center img {
    width: 190px;
  }
  .main-site-body-content .circle-dot-custom {
    height: 22px;
    width: 22px;
    border-radius: 11px;
  }
  .main-site-body-content .margin-custom-slider {
    margin-left: 24%;
  }
}
.main-site-body-content .slick-disabled {
  opacity: 0;
  pointer-events: none;
}
.main-site-body-content .home-center-content h3 {
  font-family: "azoMedium";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
}
.main-site-body-content .home-center-content .stories-section .recommended-text h3 {
  font-family: "azoMedium";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
}
.main-site-body-content .home-center-content .stories-section .recommended-text p {
  font-family: "azoLight";
  font-size: 16px;
}
.main-site-body-content .home-center-content .centering {
  float: none;
  margin: 0 auto;
}
.main-site-body-content .home-center-content .recommended-slider p {
  font-family: "azoMedium";
  font-size: 16px;
  margin: 20px 0 50px 0;
}
.main-site-body-content .home-center-content .logo-sider-section p {
  font-family: "azoLight";
  font-size: 16px;
  margin: 10px 0 30px 0;
}
.main-site-body-content .home-center-content .stories-section {
  background-color: #f5efeb;
  padding-bottom: 30px;
}
.main-site-body-content .home-center-content .stories-section h3 {
  font-family: "azoMedium";
  font-size: 22px;
  letter-spacing: 6px;
}
.main-site-body-content .home-center-content .stories-section h3 span {
  font-family: "azoThin";
  font-style: italic;
  display: inline;
  font-size: 22px;
}
.main-site-body-content .home-center-content .stories-section p {
  font-family: "azoLight";
  font-size: 15px;
  margin-top: 10px;
  color: #000;
}
.main-site-body-content .home-center-content .stories-section span {
  font-family: "azoLight";
  font-size: 22px;
  margin-top: 10px;
  display: block;
}
.main-site-body-content .home-center-content .stories-section .hastag {
  color: #000;
  font-size: 13px;
}
.main-site-body-content .home-center-content .main-slider p {
  margin: 20px;
  font-size: 18px;
  font-family: "azoThin";
}
.main-site-body-content .home-center-content .main-slider strong {
  font-family: "azoMedium";
}
.main-site-body-content .home-center-content .first-text p {
  margin: 20px;
  font-size: 18px;
  font-family: "azoThin";
}
.main-site-body-content .home-center-content .first-text strong {
  font-family: "azoMedium";
}
.main-site-body-content .home-center-content .first-text a {
  color: #000;
  text-decoration: none;
}
.main-site-body-content .home-center-content .btn-black-bordered {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 2px 10px;
  margin-top: 10px;
  width: initial;
  letter-spacing: 3px;
  height: 35px;
  font-family: "azoRegular";
  font-size: 14px;
  display: inline-block;
  line-height: 32px;
  text-decoration: none;
  cursor: pointer;
}
.main-site-body-content .home-center-content .btn-black {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 7px 20px;
  letter-spacing: 4px;
  margin-top: 30px;
  width: initial;
  height: 40px;
  font-family: "azoMedium";
  font-size: 16px;
}
.main-site-body-content .home-center-content .items-800 {
  background-color: #282828;
  padding: 40px;
  margin-bottom: 40px;
}
.main-site-body-content .home-center-content .btn-gold {
  background-color: #dbbc71;
  color: #282828;
  border: 1px solid #000;
  padding: 9px 10px;
  letter-spacing: 3px;
  width: initial;
  height: 36px;
  font-size: 12px;
}
.main-site-body-content .home-center-content .search-banner {
  padding-bottom: 12px;
}
.main-site-body-content .home-center-content .six-images-sec {
  padding: 0 37px;
}
.main-site-body-content .home-center-content .six-images-sec a {
  text-decoration: none;
  display: block;
}
.main-site-body-content .home-center-content .six-images-sec p {
  margin: 20px;
  font-size: 18px;
  font-family: "azoRegular";
  color: #000;
}
.main-site-body-content .home-center-content .six-images-sec div {
  margin-bottom: 20px;
}
.main-site-body-content .home-center-content .search-images-sec {
  padding: 0 20px;
}
.main-site-body-content .home-center-content .search-images-sec p {
  margin: 5px 10px 8px 10px;
  font-size: 16px;
  font-family: "azoRegular";
  letter-spacing: 2px;
}
.main-site-body-content .home-center-content .search-images-sec .rate {
  font-size: 14px;
  font-family: "azoLight";
}
.main-site-body-content .home-center-content .search-images-sec .info-written {
  text-align: center;
}
.main-site-body-content .home-center-content .search-images-sec .info-written a {
  text-decoration: none;
  color: #222222;
}
.main-site-body-content .home-center-content .search-images-sec .info-written img {
  width: 60px;
  margin: 0 auto 15px;
}
.main-site-body-content .color-product-search {
  margin-bottom: 5px !important;
}
.main-site-body-content .color-product-search .select-color {
  float: left;
  width: 30px;
  height: 10px;
  margin-bottom: 5px !important;
  transition: 0.5s all ease;
}
.main-site-body-content .color-product-search .select-color:nth-child(1) span {
  width: 30px;
  height: 10px;
  background-color: #000;
  display: block;
}
.main-site-body-content .color-product-search .select-color:nth-child(1).active {
  border-bottom: 2px solid #000;
  padding-bottom: 12px;
}
.main-site-body-content .color-product-search .select-color:nth-child(2) span {
  width: 30px;
  height: 10px;
  display: block;
  background-color: #c63446;
}
.main-site-body-content .color-product-search .select-color:nth-child(2).active {
  border-bottom: 2px solid #c63446;
  padding-bottom: 12px;
}
.main-site-body-content .color-product-search .select-color:nth-child(3) span {
  width: 30px;
  height: 10px;
  background-color: #294c74;
  display: block;
}
.main-site-body-content .color-product-search .select-color:nth-child(3).active {
  border-bottom: 2px solid #294c74;
  padding-bottom: 12px;
}
.main-site-body-content .color-product-search .select-color:nth-child(4) span {
  width: 30px;
  height: 10px;
  background-color: #677657;
  display: block;
}
.main-site-body-content .color-product-search .select-color:nth-child(4).active {
  border-bottom: 2px solid #677657;
  padding-bottom: 12px;
}
.main-site-body-content .color-product-search .select-color:nth-child(5) span {
  width: 30px;
  height: 10px;
  background-color: #b39159;
  display: block;
}
.main-site-body-content .color-product-search .select-color:nth-child(5).active {
  border-bottom: 2px solid #b39159;
  padding-bottom: 12px;
}
.main-site-body-content .color-product-search .select-color span {
  width: 30px;
  height: 50px;
}

.img-popup-div {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #acacac;
  z-index: 9999999;
  top: 0;
  display: none;
}
.img-popup-div img.popup-image {
  width: 100%;
}
.img-popup-div .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}


/*07-04 change*/
.slider.slider-horizontal {
  width: 97%
}
.slider.slider-horizontal .slider-track {
  height: 4px;
  background-color: #dcdcdc;
  background-image: none;
}

.slider.slider-horizontal .slider-selection {
  background-color: #000;
   background-image: none;
}

.slider-handle {
  top: -3px;
}

.slider-handle  {
  background-color: #000;
  background-image: url('../images/PriceSliderCircle@2x.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.price-range-cont .form-group {
  padding-top: 10px;
}