$color3: #424242;
html, body {
	height: 100%;
	font-family: "azoRegular";
	padding: 0;
	overflow: auto;
	&.overflow-hidden {
		overflow: hidden;
		position:relative; //that's it
		-webkit-overflow-scrolling:touch;
	}
}

main {
	padding-top: 46px;
	&.is-hidden {
		display: none;
	}
}

.invisible-overlay {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}

.overlay {
	background-color: rgba(0,0,0,0.7);
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
	position: fixed;
	width: 100%;
}

.search-overlay {
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 9;
	position: fixed;
	width: 100%;
}

.scroll-top-switch-header-wrapper {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 10000;
	.header-switch {
		background-color: white;
		color: black;
		border: 1px solid black;

	}
}

header {
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 1000;

	.header-wrapper {
		position: relative;
		text-align: center;

		.static-burger-slim {
			float: left;
			margin-right: 15px;
			margin-top: 20px;
			z-index: 10;
			position: relative;
			width: 20px;

			&.active {
				width: 20px;
			}
		}

		a.logo {
			width: 90px;
			margin: 0 auto;
			img {
				width: 90px;
				margin-top: 20px;
			}
		}
		.basket-count {
			position: absolute;
			z-index: 1000;
			right: 9px;
			top: 23px;
			cursor: pointer;
		}

		img {
			cursor: pointer;
		}
	}

	.header {
		border-bottom: 1px solid #111;
		position: relative;
		z-index: 1001;
		background-color: white;
		height: 64px;
		&.black {
			background-color: black;
			.basket-count {
				color: white;
				cursor: pointer;
			}
		}
	}

	.general-svg-icon {
		margin-top: 15px;
		cursor: pointer;
		position: relative;
		z-index: 10;
		width: 27px;
		&.burger {
			margin-top: 8px;
			width: 50px;
		}
		&.bag {
			width: 27px;
		}
		&.space1 {
			margin-right: 15px;
		}
		&.fr {
			float: right;
		}
		&.fl {
			float: left;
		}
	}
}

.header-properties {
	position: relative;
	z-index: 1000;
	top: 0;
}

.login {
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 1000;
	max-height: 100%;
	overflow: auto;
	width: 100%;
	.top {
		background-color: #fafafa;
		padding: 20px 0;
		margin-bottom: 20px;
		h2 {
			margin: 0;
			text-align: center;
			width: 100%;
			font-size: 1.2em;
			letter-spacing: 2px;
		}
	}
	label {
		letter-spacing: 2px;
		color: #6b6a6a;
	}
	input[type=text], input[type=email], input[type=password] {
		width: 100%;
		border: 1px solid #ccc;
		font-size: 12px;
		height: 40px;
		border-radius: 0;
	}

	.form-group {
		margin-bottom: 25px;
	}

	.btn-custom-black, .btn-custom-white {
		height: 45px;
		line-height: 32px;
		letter-spacing: 2px;
	}
	.section-text {
		text-align: center;
		display: block;
		margin-top: 40px;
		margin-bottom: 20px;
		letter-spacing: 2px;
		color: #6b6a6a;
	}
}

.search-wrapper {
	width: 100%;
	z-index: 1000;
	position: fixed;
	z-index: 999;
	top: 0px;
	height: 45px;
	border-bottom: 1px solid #ccc;

	img {
		position: relative;
		z-index: 10;
		margin-top: -30px;
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}

	input[type=text] {
		border: none;
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
		width: 100%;
		height: 100%;
		padding: 15px;
		float: left;
		background-color: #fafafa;
	}

	input[type=text]:focus, textarea:focus {
		outline: none;
		-webkit-box-shadow: inset hoff voff blur color;
		-moz-box-shadow: inset hoff voff blur color;
		box-shadow: inset hoff voff blur color;dow: none;
	}

	input:focus+.underline {
		transform: scale(1);
	}
	a {
		float: left;
		width: 30%;
		height: 100%;
		background-color: #e6e6e6;
		border: none;
		letter-spacing: 2px;
		text-align: center;
		span {
			color: black;
			display: inline-block;
			margin-top: 10px;
		}
	}
}

.suggested-search {
	z-index: 1001!important;
	@extend.recent-search;
}

.recent-search {
	z-index: 1000;
	position: fixed;
	width: 100%;
	background-color: white;
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
	li {
		padding:  12.5px 25px 12.5px 15px;
		letter-spacing: 1px;
		cursor: pointer;
		a {
			color: #333333;
			text-decoration: none;
		}
		.cross {
			float: right;
		}
		&.title {
			font-family: "azoLight";
		}
		&:hover {
			background-color: #fafafa;
		}
		.amount {
			font-family: "azoLight";
			font-size: .8em;
		}
	}
}

.trends {
	width: 480px;
	overflow: scroll;
	margin: 0 auto;
	.inner-trends {
		width: 800px;
		height: 100%;
	}
	.item {
		display: inline-block;
		width: 120px;
		float: left;
		text-align: center;
		img {
			width: 100px;
			margin: 0 auto;
			display: block;
		}
	}
}

@-moz-keyframes slidedown {
	0% {
		top: -38px;
	}
	100% {
		top: 0px;
	}
}
@-webkit-keyframes slidedown {
	0% {
		top: -38px;
	}
	100% {
		top: 0px;
	}
}
@keyframes slidedown {
	0% {
		top: -38px;
	}
	100% {
		top: 0px;
	}
}
@-moz-keyframes slideup {
	0% {
		top: 0;
	}
	100% {
		top: -38px;
	}
}
@-webkit-keyframes slideup {
	0% {
		top: 0;
	}
	100% {
		top: -38px;
	}
}
@keyframes slideup {
	0% {
		top: 0;
	}
	100% {
		top: -38px;
	}
}

@-moz-keyframes slidein {
	0% {
		left: -80%;
	}
	100% {
		left: 0px;
	}
}
@-webkit-keyframes slidein {
	0% {
		left: -80%;
	}
	100% {
		left: 0px;
	}
}
@keyframes slidein {
	0% {
		left: -80%;
	}
	100% {
		left: 0px;
	}
}
@-moz-keyframes slideout {
	0% {
		left: 0;
	}
	100% {
		left: -80%;
	}
}
@-webkit-keyframes slideout {
	0% {
		left: 0;
	}
	100% {
		left: -80%;
	}
}
@keyframes slideout {
	0% {
		left: 0;
	}
	100% {
		left: -80%;
	}
}


@-moz-keyframes slidein2 {
	0% {
		right: -50%;
	}
	100% {
		right: 0px;
	}
}
@-webkit-keyframes slidein2 {
	0% {
		right: -50%;
	}
	100% {
		right: 0px;
	}
}
@keyframes slidein2 {
	0% {
		right: -50%;
	}
	100% {
		right: 0px;
	}
}
@-moz-keyframes slideout2 {
	0% {
		right: 0;
	}
	100% {
		right: -50%;
	}
}
@-webkit-keyframes slideout2{
	0% {
		right: 0;
	}
	100% {
		right: -50%;
	}
}
@keyframes slideout2 {
	0% {
		right: 0;
	}
	100% {
		right: -50%;
	}
}


@-moz-keyframes slidein3 {
	0% {
		right: -80%;
	}
	100% {
		right: 0px;
	}
}
@-webkit-keyframes slidein3 {
	0% {
		right: -80%;
	}
	100% {
		right: 0px;
	}
}
@keyframes slidein3 {
	0% {
		right: -80%;
	}
	100% {
		right: 0px;
	}
}
@-moz-keyframes slideout3 {
	0% {
		right: 0;
	}
	100% {
		right: -80%;
	}
}
@-webkit-keyframes slideout3{
	0% {
		right: 0;
	}
	100% {
		right: -80%;
	}
}
@keyframes slideout3 {
	0% {
		right: 0;
	}
	100% {
		right: -80%;
	}
}


.sectionAnimation {
	-moz-animation: slideout 300ms forwards;
	-o-animation: slideout 300ms forwards;
	-webkit-animation: slideout 300ms forwards;
	animation: slideout 300ms forwards;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.sectionAnimation2 {
	-moz-animation: slideout2 300ms forwards;
	-o-animation: slideout2 300ms forwards;
	-webkit-animation: slideout2 300ms forwards;
	animation: slideout2 300ms forwards;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.sectionAnimation3 {
	-moz-animation: slideout3 300ms forwards;
	-o-animation: slideout3 300ms forwards;
	-webkit-animation: slideout3 300ms forwards;
	animation: slideout3 300ms forwards;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

section  {
	position: fixed;
	left: -80%;
	width: 80%;
	z-index: 999;
	max-height:100%;
	overflow-x:hidden;
	overflow:auto;
	top: 0;
	bottom:0;
	background-color: white;
	//min-height: 100%;
	&.slide-in {
		-moz-animation: slidein 300ms forwards;
		-o-animation: slidein 300ms forwards;
		-webkit-animation: slidein 300ms forwards;
		animation: slidein 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	nav {
		position: relative;
		//height: 500px;
	}

	h2 {
		padding: 20px;
		font-weight: normal;
		font-size: 1.2em;
		margin: 0;
		color: #212121;
		background-color: #f7f7f7;
		font-family: 'azoMedium';
		border-right: 1px solid #e6e6e6;

		&.active {
			background-color: #e6e6e6;
			color: #212121;
		}
	}
	ul {
		padding-left: 0;
		list-style: none;
		width: 100%;
		background-color: white;
		border-right: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		border-top: 1px solid #e6e6e6;
		li {
			border-bottom: 1px solid #e6e6e6;
			padding: 20px;
			cursor: pointer;
			font-family: 'azoLight';
			&.acc-policy-section {
				background-color: #e6e6e6;
				letter-spacing: 2px;
				padding: 0;
				padding: 20px;
				font-size: .9em;
				.acc-lang-wrapper {
					span {
						display: block;
						.small {
							font-size: 0.8em;
						}
					}
					img {
						width: 30px;
						float: left;
						margin-right: 5px;
					}
					.acc {
						float: left;
						width: 60%;
						.content {
							border-right: 1px solid #ccc;
							margin-right: 5px;
						}
					}

					.lang {
						float: left;
						width: 40%;
					}
				}
				a {
					display: block;
					padding: 10px 0px;
				}
			}

			&.group {
				padding-top: 0px;
			}
			&.shop-boys {
				border: none;
				//padding: 10px;
				.item {
					width: 47.5%;
					float: left;
					&.first {
						margin-right: 5%;
					}
				}
				img {
					margin-bottom: 10px;
				}
				text-align: center;
			}
			&.link {
				padding: 0;
				a {
					padding: 20px;
					display: block;
					&:hover {
						background-color: #f7f7f7;
					}
				}
			}
			a {
				color: #333;
				&:hover {
					color: #333;
					text-decoration: none;
				}
			}
			img {
				float: right;
			}
			&.parent {
				.glyphicon {
					float: right;
				}
			}
			&.title {
				color: #212121;
				background-color: #f7f7f7;
				font-weight: bold;
				font-family: 'azoMedium';
				img {
					-ms-transform: rotate(90deg); /* IE 9 */
					-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
					transform: rotate(90deg);
				}
				.glyphicon-ok {
					display: none;
				}
				.glyphicon {
					float: right;
				}
				&.active {
					background-color: #e6e6e6;
					color: #212121;
					font-weight: bold;
					font-family: 'azoMedium';
					.glyphicon {
						float: right;
						display: block;
						&.glyphicon-chevron-up {
							display: none;
						}
					}
				}
			}
		}
	}
}

.child-general-ul {
	display: none;
	position: absolute;
	bottom: 0;
	background-color: white;
	height: 1500px!important;
}

input {
	&[type=button] {
		width: 100%;
		border: 1px solid #000;
		font-size: 12px;
		margin-bottom: 10px;
		height: 30px;
		border-radius: 0;
	}
	&[type=text], &[type=email] {
		width: 100%;
		border: 1px solid #000;
		font-size: 12px;
		height: 34px;
		border-radius: 0;
	}
}

////FORMS
input[type=text], input[type=email], input[type=password] {
	 width: 100%;
	 border: 1px solid #000;
	 font-size: 12px;
	 height: 34px;
	 border-radius: 0;
 }

.general-text-underline {
	color: black;
	a {
		color: black;
		text-decoration: underline;
		margin-right: 30px;
		margin-top: 20px;
	}
}
.btn-custom-black {
	background-color: black;
	border-radius: 0;
	color: white;
	display: block;
	width: 100%;
	font-weight: 200;
}

.btn-custom-white {
	background-color: white;
	border-radius: 0;
	color: $color3;
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	font-weight: 200;
}

.custom-form-group {
	margin: 20px 0;
}

form {
	label {
		font-weight: 200!important;
	}

	.print {
		font-size: 0.9em;
		&.small {
			font-size: 0.9em;
		}
	}

	hr {
		border-color: black;
	}
	.form-control {
		border-color: black;
		border-radius: 0;
		-webkit-appearance: none;
	}
	.custom-select {
		float: left;
		width: 32%;

	}

	.mr {
		margin-right: 2%;
	}

	.mr2 {
		margin-right: 4%;
	}

	.custom-input-1 {
		width: 37%;
		float: left;
	}

	.custom-input-2 {
		width: 59%;
		float: left;
	}

	.section-text {
		font-weight: 200;
		font-size: 1.2em;
		&.secondary {
			margin: 25px 0 15px 0;
			font-size: 1em;
		}
	}
}

.custom-radio {

	$color1: white;
	$color2: #000;


	input[type="radio"] {
		display:none;
	}
	input[type="radio"] + label {
		color: $color2;
		font-family:Arial, sans-serif;
		font-size: 1em;
		font-weight: 100;

	}
	input[type="radio"] + label span {
		display:inline-block;
		width:25px;
		height:25px;
		margin:-1px 4px 0 0;
		vertical-align:middle;
		cursor:pointer;
		-moz-border-radius:  50%;
		border-radius:  0;
		float: left;
		margin-right: 15px;
		margin-top: 1px;
	}

	input[type="radio"] + label span {
		background-color:$color1;
		border: 1px solid $color2;
	}

	input[type="radio"]:checked + label span{
		background-color:$color2;
	}

	input[type="radio"] + label span,
	input[type="radio"]:checked + label span {
		-webkit-transition:background-color 0.4s linear;
		-o-transition:background-color 0.4s linear;
		-moz-transition:background-color 0.4s linear;
		transition:background-color 0.4s linear;
	}
}

.custom-checkbox {
	font-family: "azoLight";
	$color1: white;
	$color2: #000;

	label {
		margin-bottom: 10px;
	}

	input[type="checkbox"] {
		display:none;
	}
	input[type="checkbox"] + label {
		color: $color2;
		font-size: 1em;
		font-weight: 100;
		letter-spacing: 2px;

	}
	input[type="checkbox"] + label span {
		display:inline-block;
		width:30px;
		height:30px;
		margin:-1px 4px 0 0;
		vertical-align:middle;
		cursor:pointer;
		-moz-border-radius:  50%;
		border-radius:  0;
		float: left;
		margin-right: 15px;
		margin-top: -8px;
	}

	input[type="checkbox"] + label span {
		background-color: #f7f7f7;
		border: 1px solid #ccc;
		border-radius: 2px;
		img {
			display: none;
		}
	}

	input[type="checkbox"]:checked + label span{
		img {
			display: inline-block;
			width: 75%;
			margin: 6px 3px;
		}
	}

	input[type="checkbox"] + label span,
	input[type="checkbox"]:checked + label span {
		-webkit-transition:background-color 0.4s linear;
		-o-transition:background-color 0.4s linear;
		-moz-transition:background-color 0.4s linear;
		transition:background-color 0.4s linear;
	}
}

//FILTER-SEARCH

.filter-header {
	background-color: white;
	position: fixed;
	z-index: 998;
	width: 100%;
	border-bottom: 1px solid #ccc;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;
		li {
			position: relative;
			padding: 5px 0;
			margin: 5px 0;
			display: inline-block;
			float: left;
			text-align: center;
			cursor: pointer;
			letter-spacing: 3px;
			color: $color3;
			font-family: "azoLight";

			.filters-slide-arrows {
				position: absolute;
				bottom: -6px;
				width: 18px;
				left: 50%;
				margin-left: -9px;
				display: none;
			}
		}
		li:nth-child(1){
			width: 50%;
			border-right: 1px solid #ccc;
		}
		li:nth-child(2){
			width: 25%;
			border-right: 1px solid #ccc;
		}
		li:nth-child(3){
			width: 25%;

		}
	}
}

.sort-more-wrapper {
	position: fixed;
	width: 50%;
	right: -50%;
	z-index: 998;
	background-color: white;
	ul {
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}
}

.more-wrapper {
	@extend.sort-more-wrapper;
	&.slide-in {
		-moz-animation: slidein2 300ms forwards;
		-o-animation: slidein2 300ms forwards;
		-webkit-animation: slidein2 300ms forwards;
		animation: slidein2 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			width: 33%;
			cursor: pointer;
			span {
				&.active{
					border: 1px solid black;
					display: block;
				}
			}
			img {
				width: 100%;
				padding: 10px;
			}
			padding: 10px;
			float: left;
		}
	}
	.product-view {
		display: inline-block;
		width: 100%;
		padding: 20px;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		cursor: pointer;
	}
}

.sort-wrapper {
	@extend.sort-more-wrapper;
	&.slide-in {
		-moz-animation: slidein2 300ms forwards;
		-o-animation: slidein2 300ms forwards;
		-webkit-animation: slidein2 300ms forwards;
		animation: slidein2 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 10px 20px;
			font-size: 1em;
			font-family: "azoLight";
			letter-spacing: 2px;
			font-size: 0.8em;
			&:first-child {
				padding-top: 25px;
			}
			&:last-child {
				padding-bottom: 25px;
			}
		}
	}
}

.apply-filter-wrapper {
	width: 80%;
	bottom: 0;
	left: -80%;
	position: fixed;
	z-index: 1000;
	padding: 20px;
	background-color: white;
	&.slide-in {
		-moz-animation: slidein 300ms forwards;
		-o-animation: slidein 300ms forwards;
		-webkit-animation: slidein 300ms forwards;
		animation: slidein 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.apply-btn {
		width: 100%;
		border-radius: 2px;
		background-color: #424242;
		padding: 15px;
		letter-spacing: 2px;
	}
}

.filter-wrapper {
	position: fixed;
	left: -80%;
	width: 80%;
	z-index: 998;
	background-color: white;
	max-height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	padding-top: 25px;
	top: 0;
	bottom:0;
	font-family: "azoLight";
	padding-bottom: 91px;
	.container {
		width: auto;
	}
	.checkbox-group-wrapper {
		padding-left: 15px;
		position: relative;
		.general-filter-wrapper {
			padding-top: 23px;

			//position: absolute;
			//width: 100%;
		}
	}

	&.slide-in {
		-moz-animation: slidein 300ms forwards;
		-o-animation: slidein 300ms forwards;
		-webkit-animation: slidein 300ms forwards;
		animation: slidein 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.main-filter-wrapper {
		label {
			font-size: 0.8em!important;
		}
	}

	.text-wrapper {
		padding: 15px;
		margin-bottom: 23px;
		.product-name {
			font-family: "azoRegular";
			font-size: 1.4em;
			margin-bottom: 5px;
		}
		&.filter-item {
			padding: 0;
			cursor: pointer;
			background-color: #f7f7f7;
			padding-left: 15px;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			margin-bottom: 0;
			height: 48px;
			.text {
				float: left;
				margin-top: 15px;
			}
			img	{
				float: right;
			}
		}
	}
	span {
		display: block;
		letter-spacing: 3px;
	}
}

.added-item {
	position: fixed;
	top: 0;
	z-index: 10000000!important;
	width: 100%;
	background-color: white;
	display: none;
	box-shadow: 5px 5px 8px #4e4d4d;
	border-top: 1px solid black;
	.item {
		margin: 10px;
	}
	.top {
		background-color: #fafafa;
		padding: 10px 0;
		text-align: center;
		letter-spacing: 2px;
	}
	.img-wrapper {
		float: left;
		width: 35%;
		margin-right: 5%;
		img {
			width: 100%;
		}
	}
}

.bag-content {
	width: 60%;
	float: left;
	font-family: "azoMedium";
	&.slide {
		width: 55%;
	}
	p {
		letter-spacing: 0px;
	}
	.qty, .color, .fit {
		margin-bottom: 5px;
		letter-spacing: 1px;
		font-family: "azoLight";
		span {
			font-family: "azoMedium";
		}
	}

	.number {
		font-style: italic;
		font-family: "azoLight";
		letter-spacing: 2px;
		margin-bottom: 5px;
	}
	.name {
		font-size: 1.2em;
		font-family: "azoRegular";
		line-height: 24px;
		letter-spacing: 2px;
		margin-bottom: 5px;
	}
	.price {
		font-size: 1.2em;
		letter-spacing: 2px;
	}

	.stock {
		margin-top: 15px;
		font-family: "azoLight";
		letter-spacing: 1px;
	}
}

.product-item {
	position: relative;
	margin-bottom: 15px;
	p {
		//font-size: 0.8em;
		letter-spacing: 2px;
		font-family: "azoLight";

		span {
			font-family: "azoRegular";
		}

		&.product-number {
			font-size: 0.7em;
			letter-spacing: 0;
		}

		&.name {
			font-family: "azoRegular";
		}

		&.price {
			font-family: "azoMedium";
		}

		&.edit {
			position: absolute;
			bottom: 0;
			right: 0;
			letter-spacing: 0px;
			a {
				color: $color3;
				text-decoration: underline;
			}
		}
	}
}

.shopping-bag-top {
	font-family: "azoLight";
	letter-spacing: 2px;
	text-align: center;
	position: fixed;
	top: 64px;
	width: 80%;
	right: -80%;
	z-index: 1000;
	background-color: white;
	font-size: 1.2em;
	padding: 20px 20px 0 20px;
	&.slide-in {
		-moz-animation: slidein3 300ms forwards;
		-o-animation: slidein3 300ms forwards;
		-webkit-animation: slidein3 300ms forwards;
		animation: slidein3 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.add-to-bag {
		margin-bottom: 10px;
		font-family: "azoRegular";
	}
	.small-text {
		font-size: 0.8em;
		letter-spacing: 0px;
	}
	.checkout-top-text {
		display: block;
		font-family: 'azoMedium';
		margin-bottom: 10px;
	}
	.checkout-btn {
		width: 100%;
		border-radius: 2px;
		background-color: $color3;
		padding: 15px;
		margin-top: 20px;
		margin-bottom: 25px;
	}
}

.shopping-bag {
	position: fixed;
	right: -80%;
	width: 80%;
	z-index: 999;
	max-height:100%;
	overflow-x:hidden;
	overflow:auto;
	top: 0;
	bottom:0;
	background-color: white;
	padding: 20px;
	padding-top: 200px;
	.extras {
		font-family: "azoLight";
		letter-spacing: 3px;
	}

	.go-nicely-pic {
		//width: inherit;
		margin: 0px auto;
		background: #ffffff;
		overflow-y:hidden;
		overflow-x:auto;
		white-space: nowrap;


		img {
			//float: left;
			margin-right: 10px;
			width: 100px;
			display:inline;
			white-space: nowrap
		}
	}

	&.slide-in {
		-moz-animation: slidein3 300ms forwards;
		-o-animation: slidein3 300ms forwards;
		-webkit-animation: slidein3 300ms forwards;
		animation: slidein3 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.img-wrapper {
		width: 40%;
		float: left;
		margin-right: 5%;
		img {
			width: 100%;
		}
	}

	.content {
		width: 65%;
		float: left;
	}
}

.input-wrapper {
	input {
		border: 1px solid #e6e6e6;
		letter-spacing: 2px;
		height: 40px;
		width: 80%;
		float: left;
		border: none;
	}
	button {
		background-color: black;
		height: 40px;
		float: left;
		width: 20%;
		border: none;
		img {
			float: none;
		}
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,
	textarea,
	input {
		font-size: 16px!important;
		font-size: 16px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px!important;
		font-size: 16px;
		background: #eee;
	}
}


.menu {
	position: relative;
	float: left;
	display: inline-block;
	width: 30px;
	margin-top: 15px;
	z-index: 10;
	cursor: pointer;
	height: 30px;
}

/* ------------- */
.menu-line {
	background-color: #111;
	height: 1px;
	width: 100%;
	border-radius: 2px;
	position: absolute;
	left: 0;
	transition: all 0.25s ease-in-out;
	top: 0;
}

.menu-line-1 {
	width: 20px;
}

.menu-line-2 {
	top: 10px;
}

.menu-line-3 {
	top: 20px;
	width: 20px;
}

.menu-line-4 {
	top: 30px;
}

.menu.active .menu-line-1 {
	transform: translateY(16px) translateY(-50%) rotate(-45deg);
	width: 40px;
}

.menu.active .menu-line-2 {
	opacity: 0;
}

.menu.active .menu-line-3 {
	opacity: 0;
}

.menu.active .menu-line-4 {
	transform: translateY(-16px) translateY(50%) rotate(45deg);
	width: 40px;
}

.general-slide-arrows {
	position: absolute;
	display: none;
	bottom: -19px;
	img {
		width: 16px;
	}
}
.filters-slide-arrows {
	position: absolute;
	img {
		width: 18px;
	}
}

.sidebar-arrow {
	left: 2px;
}

.search-arrow {
	left: 38px;
}

.profile-arrow {
	right: 46px;
}

.basket-arrow {
	right: 4px;
}

