html, body {
  height: 100%;
  font-family: "azoRegular";
  padding: 0;
  overflow: auto;
}
html.overflow-hidden, body.overflow-hidden {
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

main {
  padding-top: 46px;
}
main.is-hidden {
  display: none;
}

.invisible-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.custom-btn-acc-setting {
  background-color: #000;
  border: 1px solid #e5e5e5;
  width: 106px;
  height: 45px !important;
  margin-right: 2px;
  text-transform: uppercase;
  font-family: 'azoLight';
  font-size: 14px;
  color: #f7f7f7;
  letter-spacing: 1.79px;
  border-radius: 3px !important;
}

.select-box-country {
  border: 0;
  background-color: transparent;
  display: none;
}
.select-box-country li {
  padding: 0;
  border: 0;
}
.select-box-country li label {
  font-size: 1.2em;
  letter-spacing: 2px;
  font-family: 'azoThin';
}
.select-box-country li input[type='text'] {
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 1.075em;
  height: 45px;
}

.select-box-country .language-box {
    background: #fff;
    height: 45px;
    width: 47%;
    display: inline-block;
    text-align: left;
    line-height: 45px;
    padding: 0px 10px;
    font-family: 'azoRegular';
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;

}
.select-box-country .language-box.active {
  border: 1px solid #000;
}

select.form-control {
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: url('../images/down-arrow.png') !important;
    background-repeat: no-repeat;
  background-position: 95% 17px;
  background-size: 12px;

}

.search-overlay {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9;
  position: fixed;
  width: 100%;
}

.scroll-top-switch-header-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}
.scroll-top-switch-header-wrapper .header-switch {
  background-color: white;
  color: black;
  border: 1px solid black;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}
header .header-wrapper {
  position: relative;
  text-align: center;
}
header .header-wrapper .static-burger-slim {
  float: left;
  margin-right: 15px;
  margin-top: 20px;
  z-index: 10;
  position: relative;
  width: 23px;
}
header .header-wrapper .static-burger-slim.active {
  width: 20px;
}
header .header-wrapper a.logo {
  width: 90px;
  margin: 0 auto;
}
header .header-wrapper a.logo img {
  width: 90px;
  margin-top: 20px;
}
header .header-wrapper .basket-count {
  position: absolute;
  z-index: 1000;
  right: 9px;
  top: 23px;
  cursor: pointer;
}
header .header-wrapper img {
  cursor: pointer;
  vertical-align: baseline;
  position: relative;
}
header .header {
  border-bottom: 1px solid #111;
  position: relative;
  z-index: 1001;
  background-color: white;
  height: 64px;
}
header .header.black {
  background-color: black;
}
header .header.black .basket-count {
  color: white;
  cursor: pointer;
}
header .general-svg-icon {
  margin-top: 15px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 27px;
}
header .general-svg-icon.burger {
  margin-top: 8px;
  width: 50px;
}
header .general-svg-icon.bag {
  width: 27px;
}
header .general-svg-icon.space1 {
  margin-right: 15px;
}
header .general-svg-icon.fr {
  float: right;
}
header .general-svg-icon.fl {
  float: left;
}

.header-properties {
  position: relative;
  z-index: 1000;
  top: 0;
}

.login {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  max-height: 100%;
  overflow: auto;
  width: 100%;
}
.login .top {
  background-color: #fafafa;
  padding: 20px 0;
  margin-bottom: 20px;
}
.login .top h2 {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.login label {
  letter-spacing: 2px;
  color: #6b6a6a;
}
.login input[type=text], .login input[type=email], .login input[type=password] {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 12px;
  height: 40px;
  border-radius: 0;
}
.login .form-group {
  margin-bottom: 25px;
}
.login .btn-custom-black, .login .btn-custom-white {
  height: 45px;
  line-height: 32px;
  letter-spacing: 2px;
}
.login .section-text {
  text-align: center;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #6b6a6a;
}
/* 07-04 change */
.search-wrapper-filter {
  position: relative !important;
  border-bottom: 1px solid #ccc !important;
  left: -15px;
  top: -22px !important; 
  width: 106% !important;
}
.no-padding {
  padding: 0 !important;
}
/* 07-04 change */
.search-wrapper-filter input {
  width: 100% !important;
}
/* 07-04 change */
.search-wrapper-filter img {
  right: 6% !important;
}
.search-wrapper {
  width: 100%;
  z-index: 1000;
  position: fixed;
  z-index: 1000;
  top: 0px;
  height: 45px;
  border-bottom: 1px solid #ccc;
}
.search-wrapper img {
 position: absolute;
    z-index: 64;
    /* margin-top: 13px; */
    float: right;
    margin-right: 10px;
    cursor: pointer;
    right: 31%;
    top: 13px;
}

/*07-04 change*/
.book-img-range {
  float: none;
  margin-left: 10px ;
  vertical-align: text-top;
}

/*07-04 change*/
.view-more-container {
  padding-top: 20px;
}
/*07-04 change*/
.search-wrapper input[type=text] {
  border: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 70%;
  height: 100%;
  padding: 15px;
  float: left;
  background-color: #fff;
  font-family:'azoLight';
  font-size:14px;
  color:#222222;
  letter-spacing:1px;
  text-align:left;
}
.search-wrapper input[type=text]:focus, .search-wrapper textarea:focus {
  outline: none;
  -webkit-box-shadow: inset hoff voff blur color;
  -moz-box-shadow: inset hoff voff blur color;
  box-shadow: inset hoff voff blur color;
  dow: none;
}
.search-wrapper input:focus + .underline {
  transform: scale(1);
}
.search-wrapper a {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #fff;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  border-left: 1px solid #cccccc;
}
/*07-04 change*/
.search-wrapper a span {
  color: black;
  display: inline-block;
  margin-top: 10px;
  font-family:'azoRegular';
  font-size:14px;
  color:#222222;
  letter-spacing:2.29px;
  text-align:left;
}

.suggested-search {
  z-index: 1001 !important;
}

.recent-search, .suggested-search {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 15px 0 0 0;
  list-style: none;
}
.recent-search li, .suggested-search li {
  padding: 12.5px 25px 12.5px 15px;
  letter-spacing: 1px;
  cursor: pointer;
}
.recent-search li a, .suggested-search li a {
  color: #333333;
  text-decoration: none;
}
.recent-search li .cross, .suggested-search li .cross {
  float: right;
}
.recent-search li.title, .suggested-search li.title {
  font-family: "azoLight";
}
.recent-search li:hover, .suggested-search li:hover {
  background-color: #fafafa;
}
.recent-search li .amount, .suggested-search li .amount {
  font-family: "azoLight";
  font-size: .8em;
}

.trends {
  width: 480px;
  overflow: scroll;
  margin: 0 auto;
}
.trends .inner-trends {
  width: 800px;
  height: 100%;
}
.trends .item {
  display: inline-block;
  width: 120px;
  float: left;
  text-align: center;
}
.trends .item img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

@-moz-keyframes slidedown {
  0% {
    top: -38px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes slidedown {
  0% {
    top: -38px;
  }
  100% {
    top: 0px;
  }
}
@keyframes slidedown {
  0% {
    top: -38px;
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes slideup {
  0% {
    top: 0;
  }
  100% {
    top: -38px;
  }
}
@-webkit-keyframes slideup {
  0% {
    top: 0;
  }
  100% {
    top: -38px;
  }
}
@keyframes slideup {
  0% {
    top: 0;
  }
  100% {
    top: -38px;
  }
}
@-moz-keyframes slidein {
  0% {
    left: -80%;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes slidein {
  0% {
    left: -80%;
  }
  100% {
    left: 0px;
  }
}
@keyframes slidein {
  0% {
    left: -80%;
  }
  100% {
    left: 0px;
  }
}
@-moz-keyframes slideout {
  0% {
    left: 0;
  }
  100% {
    left: -80%;
  }
}
@-webkit-keyframes slideout {
  0% {
    left: 0;
  }
  100% {
    left: -80%;
  }
}
@keyframes slideout {
  0% {
    left: 0;
  }
  100% {
    left: -80%;
  }
}
@-moz-keyframes slidein2 {
  0% {
    right: -50%;
  }
  100% {
    right: 0px;
  }
}
@-webkit-keyframes slidein2 {
  0% {
    right: -50%;
  }
  100% {
    right: 0px;
  }
}
@keyframes slidein2 {
  0% {
    right: -50%;
  }
  100% {
    right: 0px;
  }
}

/* 07-04 change for slide from top  */
@keyframes slidetop {
  0% {
    top: -50%;
  }
  100% {
    top: 105px;
  }
}
@-moz-keyframes slidetop {
  0% {
    top: -50%;
  }
  100% {
    top: 105px;
  }
}
@-webkit-keyframes slidetop {
  0% {
    top: -50%;
  }
  100% {
    top: 105px;
  }
}
@keyframes slidetop {
  0% {
    top: -50%;
  }
  100% {
    top: 105px;
  }
}

/* 07-04 change for slide from top  */
@keyframes slidetopback {
  0% {
    top: 105px;
  }
  100% {
    top: -50%;
  }
}
@-moz-keyframes slidetopback {
  0% {
    top: 105px;
  }
  100% {
    top: -50%;
  }
}
@-webkit-keyframes slidetopback {
  0% {
    top: 105px;
  }
  100% {
    top: -50%;
  }
}
@keyframes slidetopback {
 0% {
    top: 105px;
  }
  100% {
    top: -50%;
  }
}

@-moz-keyframes slideout2 {
  0% {
    right: 0;
  }
  100% {
    right: -50%;
  }
}
@-webkit-keyframes slideout2 {
  0% {
    right: 0;
  }
  100% {
    right: -50%;
  }
}
@keyframes slideout2 {
  0% {
    right: 0;
  }
  100% {
    right: -50%;
  }
}
@-moz-keyframes slidein3 {
  0% {
    right: -80%;
  }
  100% {
    right: 0px;
  }
}
@-webkit-keyframes slidein3 {
  0% {
    right: -80%;
  }
  100% {
    right: 0px;
  }
}
@keyframes slidein3 {
  0% {
    right: -80%;
  }
  100% {
    right: 0px;
  }
}
@-moz-keyframes slideout3 {
  0% {
    right: 0;
  }
  100% {
    right: -80%;
  }
}
@-webkit-keyframes slideout3 {
  0% {
    right: 0;
  }
  100% {
    right: -80%;
  }
}
@keyframes slideout3 {
  0% {
    right: 0;
  }
  100% {
    right: -80%;
  }
}
.sectionAnimation {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sectionAnimation2 {
  -moz-animation: slideout2 300ms forwards;
  -o-animation: slideout2 300ms forwards;
  -webkit-animation: slideout2 300ms forwards;
  animation: slideout2 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sectionAnimation3 {
  -moz-animation: slideout3 300ms forwards;
  -o-animation: slideout3 300ms forwards;
  -webkit-animation: slideout3 300ms forwards;
  animation: slideout3 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sectionAnimation4 {
  -moz-animation: slidetopback 300ms forwards;
  -o-animation: slidetopback 300ms forwards;
  -webkit-animation: slidetopback 300ms forwards;
  animation: slidetopback 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

section {
  position: fixed;
  left: -80%;
  width: 80%;
  z-index: 1000;
  max-height: 100%;
  overflow-x: hidden;
  overflow: auto;
  top: 0;
  bottom: 0;
  background-color: white;
}
section.slide-in {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
section nav {
  position: relative;
}
section h2 {
  padding: 20px;
  font-weight: normal;
  font-size: 1.2em;
  margin: 0;
  color: #212121;
  background-color: #e8e8e8;
  font-family: 'azoMedium';
  border-right: 1px solid #e6e6e6;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
section h2.active {
  background-color: #e6e6e6;
  color: #212121;
}
section h2.active img{
  display: none;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
section h2 img {
  margin-right: 20px;
  margin-top: 3px;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
section ul {
  padding-left: 0;
  list-style: none;
  width: 100%;
  background-color: white;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
section ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  cursor: pointer;
  font-family: 'azoLight';
}
section ul li.acc-policy-section {
  background-color: #f7f7f7;
  letter-spacing: 2px;
  padding: 0;
  padding: 20px;
  font-size: .9em;
}
section ul li.acc-policy-section .acc-lang-wrapper span {
  display: block;
  font-size: 1.4em;
  font-family: 'azoMedium';
}
section ul li.acc-policy-section .acc-lang-wrapper span.small {
  font-size: 1.2em;
  font-family: 'azoLight';
}
section ul li.acc-policy-section .acc-lang-wrapper span.small span{
  text-decoration: underline;
   font-size: 1.2em;
  font-family: 'azoLight';
  display: inline-block;
}
section ul li.acc-policy-section .acc-lang-wrapper img {
  width: 30px;
  float: left;
  margin-right: 10px;
  margin-top: 8px;
}
section ul li.acc-policy-section .acc-lang-wrapper .acc {
  float: left;
  width: 100%;
}

.arrow-english-right {
  width: 15px !important;
  float: right !important;
  margin-top: 15px !important;
  transform: rotate(90deg);
}
.arrow-english-right2 {
  transform: rotate(90deg);
}
.remove-transform {
  transform: rotate(0deg);
}
section ul li.acc-policy-section .acc-lang-wrapper .acc .content {
  /*border-right: 1px solid #ccc;*/
  margin-right: 5px;
}
.clear {
  clear: both;
}
.shop-by-range {
  position: relative;
}
.shop-by-range-sec {
    position: absolute;
    left: 0;
    top: 72px;
}
section ul li.acc-policy-section .acc-lang-wrapper .lang {
  float: left;
  width: 80%;
}
section ul li.acc-policy-section a {
  display: block;
  padding: 10px 0px;
}
section ul li.group {
  padding-top: 0px;
}
section ul li.shop-boys {
  border: none;
  text-align: center;
}
section ul li.shop-boys .item {
  width: 47.5%;
  float: left;
}
section ul li.shop-boys .item.first {
  margin-right: 5%;
}
section ul li.shop-boys img {
  margin-bottom: 10px;
}
section ul li.link {
  padding: 0;
}
section ul li.link a {
  padding: 20px;
  display: block;
}
section ul li.link a:hover {
  background-color: #f7f7f7;
}
section ul li a {
  color: #333;
}
section ul li a:hover {
  color: #333;
  text-decoration: none;
}
section ul li img {
  float: right;
}
section ul li.parent .glyphicon {
  float: right;
}
section ul li.title {
  color: #212121;
  background-color: #e8e8e8;
  font-weight: bold;
  font-family: 'azoMedium';
}
section ul li.title img {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  float: left;
  margin: 4px 20px 0px 0px;
  -moz-transition: 2s all ease;
  -o-transition: 2s all ease;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}
section ul li.active img {
  display: none;
  -moz-transition: 2s all ease;
  -o-transition: 2s all ease;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}
section ul li.title .glyphicon-ok {
  display: none;
}
section ul li.title .glyphicon {
  float: right;
}
section ul li.title.active {
  background-color: #f7f7f7;
  color: #212121;
  font-weight: bold;
  font-family: 'azoMedium';
}
section ul li.title.active .glyphicon {
  float: right;
  display: block;
}
section ul li.title.active .glyphicon.glyphicon-chevron-up {
  display: none;
}

.child-general-ul {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 1500px !important;
}

input[type=button] {
  width: 100%;
  border: 1px solid #000;
  font-size: 12px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 0;
}
input[type=text], input[type=email] {
  width: 100%;
  border: 1px solid #000;
  font-size: 12px;
  height: 34px;
  border-radius: 0;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  border: 1px solid #000;
  font-size: 12px;
  height: 34px;
  border-radius: 0;
}

.general-text-underline {
  color: black;
}
.general-text-underline a {
  color: black;
  text-decoration: underline;
  margin-right: 30px;
  margin-top: 20px;
}

.btn-custom-black {
  background-color: black;
  border-radius: 0;
  color: white;
  display: block;
  width: 100%;
  font-weight: 200;
}

.btn-custom-white {
  background-color: white;
  border-radius: 0;
  color: #424242;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  font-weight: 200;
}

.custom-form-group {
  margin: 20px 0;
}

form label {
  font-weight: 200 !important;
}
form .print {
  font-size: 0.9em;
}
form .print.small {
  font-size: 0.9em;
}
form hr {
  border-color: black;
}
form .form-control {
  border-color: black;
  border-radius: 0;
  -webkit-appearance: none;
}
form .custom-select {
  float: left;
  width: 32%;
}
form .mr {
  margin-right: 2%;
}
form .mr2 {
  margin-right: 4%;
}
form .custom-input-1 {
  width: 37%;
  float: left;
}
form .custom-input-2 {
  width: 59%;
  float: left;
}
form .section-text {
  font-weight: 200;
  font-size: 1.2em;
}
form .section-text.secondary {
  margin: 25px 0 15px 0;
  font-size: 1em;
}

.custom-radio input[type="radio"] {
  display: none;
}
.custom-radio input[type="radio"] + label {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 100;
}
.custom-radio input[type="radio"] + label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 0;
  float: left;
  margin-right: 15px;
  margin-top: 1px;
}
.custom-radio input[type="radio"] + label span {
  background-color: white;
  border: 1px solid #000;
}
.custom-radio input[type="radio"]:checked + label span {
  background-color: #000;
}
.custom-radio input[type="radio"] + label span,
.custom-radio input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.custom-checkbox {
  font-family: "azoLight";
}
.custom-checkbox label {
  margin-bottom: 10px;
}
.custom-checkbox input[type="checkbox"] {
  display: none;
}
.custom-checkbox input[type="checkbox"] + label {
  color: #000;
  /*20-04 change*/
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 2px;
}
.custom-checkbox input[type="checkbox"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 0;
  float: left;
  margin-right: 15px;
  margin-top: -8px;
}
.custom-checkbox input[type="checkbox"] + label span {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.custom-checkbox input[type="checkbox"] + label span img {
  display: none;
}
.custom-checkbox input[type="checkbox"]:checked + label span img {
  display: inline-block;
  width: 75%;
  margin: 6px 3px;
}
.custom-checkbox input[type="checkbox"] + label span,
.custom-checkbox input[type="checkbox"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.filter-header {
  background-color: white;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.filter-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.filter-header ul li {
  position: relative;
  padding: 10px 0;
  display: inline-block;
  float: left;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
  color: #424242;
  font-family: "azoLight";
}
.filter-header ul li.active {
  background-color: #f7f7f7;
}
.filter-header ul li .filters-slide-arrows {
  position: absolute;
  bottom: -2px;
  width: 18px;
  left: 50%;
  margin-left: -9px;
  display: none;
}
.filter-header ul li:nth-child(1) {
  width: 33.3%;
  border-right: 1px solid #ccc;
}
.filter-header ul li:nth-child(2) {
  width: 33.3%;
  border-right: 1px solid #ccc;
}
.filter-header ul li:nth-child(3) {
  width: 33.3%;
}

.sort-more-wrapper, .more-wrapper, .sort-wrapper {
  position: fixed;
  width: 50%;
  top: -50%;
  z-index: 998;
  background-color: white;
}

.sort-wrapper {
  left: 25%;
}

.more-wrapper {
  right: 0
}

.sort-more-wrapper ul, .more-wrapper ul, .sort-wrapper ul {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;

}

.sort-more-wrapper {
  border-right: 1px solid #ccc;
}
/*07-04 change*/
.more-wrapper.slide-in {
  -moz-animation: slidetop 300ms forwards;
  -o-animation: slidetop 300ms forwards;
  -webkit-animation: slidetop 300ms forwards;
  animation: slidetop 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.more-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.more-wrapper ul li {
  width: 33%;
  cursor: pointer;
  padding: 10px;
  float: left;
}
.more-wrapper ul li span.active {
  border: 1px solid #ccc;
  display: block;
  border-radius: 4px;
}
.more-wrapper ul li img {
  width: 100%;
  padding: 10px;
}
.more-wrapper .product-view {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  cursor: pointer;
}
/* 07-04 change */
.sort-wrapper.slide-in {
  -moz-animation: slidetop 300ms forwards;
  -o-animation: slidetop 300ms forwards;
  -webkit-animation: slidetop 300ms forwards;
  animation: slidetop 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sort-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort-wrapper ul li {
  padding: 10px 20px;
  font-size: 1em;
  font-family: "azoLight";
  letter-spacing: 2px;
  font-size: 0.8em;
}
.sort-wrapper ul li:first-child {
  padding-top: 25px;
}
.sort-wrapper ul li:last-child {
  padding-bottom: 25px;
}

.apply-filter-wrapper {
  width: 80%;
  bottom: 0;
  left: -80%;
  position: fixed;
  z-index: 1000;
  padding: 20px;
  background-color: white;
}
.apply-filter-wrapper.slide-in {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.apply-filter-wrapper .apply-btn {
  width: 100%;
  border-radius: 2px;
  background-color: #424242;
  padding: 15px;
  letter-spacing: 2px;
}

/* 15-04 change */
.filter-wrapper {
  position: fixed;
  left: -80%;
  width: 80%;
  z-index: 998;
  background-color: white;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 25px;
  top: 0;
  bottom: 0;
  font-family: "azoLight";
  margin-bottom: 91px;
}
.filter-wrapper .container {
  width: auto;
}
.filter-wrapper .checkbox-group-wrapper {
  padding-left: 15px;
  position: relative;
}

.brand-filter-wrapper {
  position: relative;
  padding-top: 56px;
  margin: 0 !important;
  width: 100% !important
}
.filter-wrapper .checkbox-group-wrapper .general-filter-wrapper {
  padding-top: 23px;
}
/* 15-04 change */
.filter-wrapper .brand-filter-wrapper .custom-checkbox {
  padding-left: 15px;
}
.filter-wrapper.slide-in {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.filter-wrapper .main-filter-wrapper label {
  /* 07-04 change */
  font-size: 1.1em !important; 
  font-family: 'azoLight'
}
.filter-wrapper .main-filter-wrapper span {
  /* 07-04 change */
  font-size: 1.1em !important; 
  font-family: 'azoLight';
  
  letter-spacing: 2px;
}
.filter-wrapper .text-wrapper {
  padding: 15px;
  margin-bottom: 35px;
}
.filter-wrapper .text-wrapper .product-name {
  font-family: "azoRegular";
  font-size: 1.4em;
  margin-bottom: 5px;
}
.filter-wrapper .text-wrapper.filter-item {
  padding: 0;
  cursor: pointer;
  background-color: #f7f7f7;
  padding-left: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;/*07-04 change*/
  height: 48px;
}
.filter-wrapper .text-wrapper.filter-item .text {
  float: left;
  margin-top: 11px;/*07-04 change*/
}
.filter-wrapper .text-wrapper.filter-item img {
  float: right;
  /*07-04 change*/
  height: 47px;
}
.filter-wrapper span {
    /* 15-04 change */
    font-size: 1.1em !important;
    font-family: 'azoLight';
    letter-spacing: 1px;
    letter-spacing: 2px;
}

.added-item {
  position: fixed;
  top: 0;
  z-index: 10000000 !important;
  width: 100%;
  background-color: white;
  display: none;
  box-shadow: 5px 5px 8px #4e4d4d;
  border-top: 1px solid black;
}
.added-item .item {
  margin: 10px;
}
.added-item .top {
  background-color: #fafafa;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 2px;
}
.added-item .img-wrapper {
  float: left;
  width: 35%;
  margin-right: 5%;
}
.added-item .img-wrapper img {
  width: 100%;
}

.bag-content {
  width: 60%;
  float: left;
  font-family: "azoMedium";
}
.bag-content.slide {
  width: 55%;
}
.bag-content p {
  letter-spacing: 0px;
}
.bag-content .qty, .bag-content .color, .bag-content .fit {
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-family: "azoLight";
}
.bag-content .qty span, .bag-content .color span, .bag-content .fit span {
  font-family: "azoMedium";
}
.bag-content .number {
  font-style: italic;
  font-family: "azoLight";
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.bag-content .name {
  font-size: 1.2em;
  font-family: "azoRegular";
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.bag-content .price {
  font-size: 1.2em;
  letter-spacing: 2px;
}
.bag-content .stock {
  margin-top: 15px;
  font-family: "azoLight";
  letter-spacing: 1px;
}

.product-item {
  position: relative;
  margin-bottom: 15px;
}
.product-item p {
  letter-spacing: 2px;
  font-family: "azoLight";
}
.product-item p span {
  font-family: "azoRegular";
}
.product-item p.product-number {
  font-size: 0.7em;
  letter-spacing: 0;
}
.product-item p.name {
  font-family: "azoRegular";
}
.product-item p.price {
  font-family: "azoMedium";
}
.product-item p.edit {
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 0px;
}
.product-item p.edit a {
  color: #424242;
  text-decoration: underline;
}

.shopping-bag-top {
  font-family: "azoLight";
  letter-spacing: 2px;
  text-align: center;
  position: fixed;
  top: 64px;
  width: 80%;
  right: -80%;
  z-index: 1000;
  background-color: white;
  font-size: 1.2em;
  padding: 20px 20px 0 20px;
}
.shopping-bag-top.slide-in {
  -moz-animation: slidein3 300ms forwards;
  -o-animation: slidein3 300ms forwards;
  -webkit-animation: slidein3 300ms forwards;
  animation: slidein3 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.shopping-bag-top .add-to-bag {
  margin-bottom: 10px;
  font-family: "azoRegular";
}
.shopping-bag-top .small-text {
  font-size: 0.8em;
  letter-spacing: 0px;
}
.shopping-bag-top .checkout-top-text {
  display: block;
  font-family: 'azoMedium';
  margin-bottom: 10px;
}
.shopping-bag-top .checkout-btn {
  width: 100%;
  border-radius: 2px;
  background-color: #424242;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.shopping-bag {
  position: fixed;
  right: -80%;
  width: 80%;
  z-index: 999;
  max-height: 100%;
  overflow-x: hidden;
  overflow: auto;
  top: 0;
  bottom: 0;
  background-color: white;
  padding: 20px;
  padding-top: 200px;
}
.shopping-bag .extras {
  font-family: "azoLight";
  letter-spacing: 3px;
}
.shopping-bag .go-nicely-pic {
  margin: 0px auto;
  background: #ffffff;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.shopping-bag .go-nicely-pic img {
  margin-right: 10px;
  width: 100px;
  display: inline;
  white-space: nowrap;
}
.shopping-bag.slide-in {
  -moz-animation: slidein3 300ms forwards;
  -o-animation: slidein3 300ms forwards;
  -webkit-animation: slidein3 300ms forwards;
  animation: slidein3 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.shopping-bag .img-wrapper {
  width: 40%;
  float: left;
  margin-right: 5%;
}
.shopping-bag .img-wrapper img {
  width: 100%;
}
.shopping-bag .content {
  width: 65%;
  float: left;
}

.input-wrapper input {
  border: 1px solid #e6e6e6;
  letter-spacing: 2px;
  height: 40px;
  width: 80%;
  float: left;
  border: none;
}
.input-wrapper button {
  background-color: black;
  height: 40px;
  float: left;
  width: 20%;
  border: none;
}
.input-wrapper button img {
  float: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
    font-size: 16px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px !important;
    font-size: 16px;
    background: #eee;
  }
}
.menu {
  position: relative;
  float: left;
  display: inline-block;
  width: 30px;
  margin-top: 15px;
  z-index: 10;
  cursor: pointer;
  height: 30px;
}

/* ------------- */
.menu-line {
  background-color: #111;
  height: 1px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
  top: 0;
}

.menu-line-1 {
  width: 20px;
}

.menu-line-2 {
  top: 10px;
}

.menu-line-3 {
  top: 20px;
  width: 20px;
}

.menu-line-4 {
  top: 30px;
}

.menu.active .menu-line-1 {
  transform: translateY(16px) translateY(-50%) rotate(-45deg);
  width: 40px;
}

.menu.active .menu-line-2 {
  opacity: 0;
}

.menu.active .menu-line-3 {
  opacity: 0;
}

.menu.active .menu-line-4 {
  transform: translateY(-16px) translateY(50%) rotate(45deg);
  width: 40px;
}

.general-slide-arrows {
  position: absolute;
  display: none;
  bottom: -19px;
}
.general-slide-arrows img {
  width: 15px;
  height: 7px
}

.filters-slide-arrows {
  position: absolute;
}
.filters-slide-arrows img {
  width: 18px;
}

.sidebar-arrow {
  left: 2px;
}

.search-arrow {
  left: 38px;
}

.profile-arrow {
  right: 46px;
}

.basket-arrow {
  right: 4px;
}
